﻿@model IEnumerable<ProjectManagement.Entities.ProjectDocument>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addEditProjectModal">
    Add
</button>

<!-- Modal -->
<div class="modal fade" id="addEditProjectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Input/Edit Project Document</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <table class="table">
                        <tr>
                            <td>Document Type</td>
                            <td>:</td>
                            <td>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        @Html.DropDownList("DocumentTypeId", null, htmlAttributes: new { @class = "form-control", id = "idDocumentTypeId" })
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Document Name</td>
                            <td>:</td>
                            <td>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        @Html.Editor("DocumentName", new { htmlAttributes = new { @class = "form-control", id = "idDocumentName" } })
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>File</td>
                            <td>:</td>
                            <td>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        @Html.Editor("FilePath", new { htmlAttributes = new { @type = "file", id = "idFilePath" } })
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Version</td>
                            <td>:</td>
                            <td>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        @Html.Editor("Version", new { htmlAttributes = new { @class = "form-control", id = "idVersion" } })
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" align="right">
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" id="btnSubmit" value="Save" class="btn btn-default" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>

<!-- jQuery library -->
<script src="//code.jquery.com/jquery-1.12.4.js"></script>


<!-- add thids links for the error message-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/1.3.1/css/toastr.css" />
<script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/1.3.1/js/toastr.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            $('#btnSubmit').click(function (event) {
                var ProjectDocumentId = $("#idProjectDocumentId");
                var DocumentName = $("#idDocumentName").val();
                var FilePath = $("#idFilePath").val();
                var Version = $("#idVersion").val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AddEdit", "ProjectDocument")',
                    data: JSON.stringify({ "ProjectDocumentId": ProjectDocumentId, "DocumentName": DocumentName, "FilePath": FilePath, "Version": Version }),
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    //success: function (data) {
                    //    alert(data.msg);
                    //},
                    //error: function () {
                    //    alert("Error occured!!")
                    //}
                });
            });
        });
    });
</script>



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DocumentType.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Version)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentType.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addEditProjectModal">
                    Edit
                </button>
            </td>
        </tr>
    }

</table>
