﻿@model ProjectManagement.Entities.Requirement

@*

                  Author : Nispi Abdul Aziz
                Date     : Selasa, 27/11/2018
    //Modified by        : Nispi Abdul Aziz
    //Date modified      : Rabu, 28/11/2018
    //Additional         : Menambah Function Di Json, dan  kodingan view


*@


<input type="hidden" id="requirmentId" />
<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        var id = @ViewBag.RequirmentId;
        loadData(id);
        loadDataReqHistory(id);
        loadDataChangeReq(id);
        loaddataReqDocument(id);
        loadDataPopupCR(id);

        $("#btnSave2").click(function () {
            var requirmentId = id;
            var projectId = $("#projectId").val();
            var reqNum = $("#reqNum").val();
            var number = $("#number").val();
            var description = $("#description").val();
            var type = $("#type").val();
            var lvl = $("#lvl").val();
            //var project = 1;

            //if (CheckRequiredFields()) {

            //$('#dvLoader').show();
            alert("Masuk");
            //$('#dvLoader').show();
            $.ajax({
                url: '@Url.Action("EditReq", "Requirment")',
                type: 'POST',
                data: JSON.stringify({
                    "requirmentId": requirmentId,
                    "projectId": projectId,
                    "reqNum": reqNum,
                    "number": number,
                    "description": description,
                    "type": type,
                    "lvl": lvl
                }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    //$('#dvLoader').hide();

                    if (result.Status == "True") {
                        toastr.success(result.Message);
                        clear();
                        //display();
                    }
                    else {
                        toastr.success(result.Message);
                        clear();
                        //display();

                    }
                }
            });
            window.location.href = "/Project/Edit?id=" + projectId;
            //}

        });

        $("#btnSaveCR").click(function () {
            //alert("Masuk");
            var RequimentId =  id;
            var ChangeRequestNumber = $("#txtRequestNumber").val();
            var Description = $("#txtDesc").val();
            var MandaysEstimation = $("#txtMandays").val();

            $.ajax({
                url: '@Url.Action("SaveChangeRequest", "PopUp")',
                type: 'POST',
                data: JSON.stringify({
                    "RequimentId" : RequimentId,
                    "ChangeRequestNumber": ChangeRequestNumber,
                    "Description": Description,
                    "MandaysEstimation": MandaysEstimation }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (result) {

                    if (result.Status == "true") {
                        alert(result.Message);
                    }
                    else {
                        alert(result.Message);
                    }
                    clearPopCR();
                }
            });
            window.location.href = "/Requirment/Edit?id=" + RequimentId;
        });

        $("#btnSaveRD").click(function () {
            var RequimentId=id;
            var DocumentTypeId = $("#hdnDocTypeId").val();
            var DocumentName = $("#txtDocName").val();
            var FilePath = $("#txtFile").val();
            var Version = $("#txtVersion").val();

            $.ajax({
                url: '@Url.Action("SaveReqDoc", "PopUp")',
                type: 'POST',
                data: JSON.stringify({
                    "RequimentId" : RequimentId,
                    "DocumentTypeId" : DocumentTypeId,
                    "DocumentName":DocumentName,
                    "FilePath":FilePath,
                    "Version":Version }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    if (result.Status == "true") {
                        alert(result.Message);
                    }
                    else {
                        alert(result.Message);
                    }
                    clearPopRD();
                }
            });
            window.location.href = "/Requirment/Edit?id=" + RequimentId;
        });

        $("#btnEditRD").click(function () {
            var DocumentId = $("#hdnEDocId").val();
            var RequimentId= $("#hdnERequimentId").val();
            var DocumentTypeId = $("#hdnEDocTypeId").val();
            var DocumentName = $("#txtEDocName").val();
            var FilePath = $("#txtEFile").val();
            var Version = $("#txtEVersion").val();

            $.ajax({
                url: '@Url.Action("EditReqDoc", "Requirment")',
                type: 'POST',
                data: JSON.stringify({
                    "DocumentId" : DocumentId,
                    "RequimentId" : RequimentId,
                    "DocumentTypeId" : DocumentTypeId,
                    "DocumentName":DocumentName,
                    "FilePath":FilePath,
                    "Version":Version }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    if (result.Status == "true") {
                        alert(result.Message);
                    }
                    else {
                        alert(result.Message);
                    }
                    clearPopEditRD();
                }
            });
            window.location.href = "/Requirment/Edit?id=" + RequimentId;
        });

    });

    function clearPopRD(){
        $("#hdnDocTypeId").val("");
        $("#txtDocName").val("");
        $("#txtFile").val("");
        $("#txtVersion").val("");
    }
    function clearPopEditCRD(){
        $("#hdnEDocTypeId").val("");
        $("#txtEDocName").val("");
        $("#txtEFile").val("");
        $("#txtEVersion").val("");
    }

    function clearPopCR(){
        var p = document.getElementById("lblProName");
        var q = document.getElementById("lblModul");
        var r = document.getElementById("lblReNumb");
        p.innerHTML = "";
        q.innerHTML = "";
        r.innerHTML = "";
        $("#txtRequestNumber").val("");
        $("#txtDesc").val("");
        $("#txtMandays").val("");
    }

    function loaddataReqDocument(id,page) {
        if(page==null){
            page=1;
        }
        $.ajax({
            url: "/Requirment/GetDataReqDocument?id=" + id+"&page="+page,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';
                var btn = '';
                var c = 0;
                var ctr = 0;
                $.each(result, function (ket, item) {
                    html += '<tr>';
                    html += '<td>' + item.requirmentNumber + '</td>';
                    html += '<td>' + item.documentType + '</td>';
                    html += '<td>' + item.DocumentName + '</td>';
                    html += '<td>' + item.FilePath + '</td>';
                    html += '<td>' + item.Version + '</td>';
                    html += '<td><button class="btn btn-warning" data-toggle="modal" data-target="#modalFormEditRD" onclick="loadDataRD('+item.DocumentId+')">Edit</button></td>';
                    html += '</tr>';
                    c = item.Length;
                    ctr++;
                });
                $("#TblReqDoc").html(html);
                t = 1;
                for (var i = 0; i < c; i += 5) {
                    btn += '<button onclick="return loadDataChangeReq('+id+','+ t + ')" class="btn btn-info" >' + t + '</button>';
                    t++;
                }
                $('#buttonPageRD').html(btn);
                $('#pagePositionRD').html('Anda berada di halaman : ' + page + ' dari ' + (t - 1));
                $('#jumlahDataRD').html('Jumlah Data : ' + ctr + ' dari ' + c);
            }
        });
    }

    function loadDataReqHistory(id,page) {
        if(page==null){
            page=1;
        }
        $.ajax({
            url: "/Requirment/GetDataReqHistory/" + id+"&page="+page,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';
                var btn = '';
                var c = 0;
                var ctr = 0;
                $.each(result, function (ket, item) {
                    html += '<tr>';
                    html += '<td>' + item.RequirementNumber + '</td>';
                    html += '<td>' + item.Description + '</td>';
                    html += '<td>' + item.Level + '</td>';
                    html += '<td> Creation By :' + item.CreationBy + '<br>';
                    html += 'Create Date :' + item.CreationDate + '<br>';
                    html += 'Modified By :' + item.ModifiedBy + '<br>';
                    html += 'Modified Date :' + item.ModifiedDate + '<br>';
                    html += '</tr>';
                    c = item.Length;
                    ctr++;
                });
                $("#TblReqHistory").html(html);
                t = 1;
                for (var i = 0; i < c; i += 5) {
                    btn += '<button onclick="return loadDataChangeReq('+id+','+ t + ')" class="btn btn-info" >' + t + '</button>';
                    t++;
                }
                $('#buttonPageRH').html(btn);
                $('#pagePositionRH').html('Anda berada di halaman : ' + page + ' dari ' + (t - 1));
                $('#jumlahDataRH').html('Jumlah Data : ' + ctr + ' dari ' + c);
            }
        });
    }
    function loadDataChangeReq(id,page) {
        if(page==null){
            page=1;
        }
        $.ajax({
            url: "/Requirment/GetDataChangeReq?id=" + id + "&page="+page,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';
                var btn = '';
                var c = 0;
                var ctr = 0;
                $.each(result, function (ket, item) {
                    html += '<tr>';
                    html += '<td>' + item.ProjectName + '</td>';
                    html += '<td>' + item.ModulName + '</td>';
                    html += '<td>' + item.ChangeRequestNumber + '</td>';
                    html += '<td>' + item.Description + '</td>';
                    html += '<td>' + item.StrChangeRequestDate + '</td>';
                    html += '<td>' + item.MandaysEstimation + '</td>';
                    html += '<td><a href="/ChangeRequest/Edit/' + item.ChangeRequestId + '"><button class="btn btn-warning">Edit</button></a></td>';
                    html += '</tr>';
                    c = item.lenght;
                    ctr++;
                });
                $("#TblChangeReq").html(html);
                t = 1;
                for (var i = 0; i < c; i += 5) {
                    btn += '<button onclick="return loadDataChangeReq('+id+','+ t + ')" class="btn btn-info" >' + t + '</button>';
                    t++;
                }
                $('#buttonPageCR').html(btn);
                $('#pagePositionCR').html('Anda berada di halaman : ' + page + ' dari ' + (t - 1));
                $('#jumlahDataCR').html('Jumlah Data : ' + ctr + ' dari ' + c);
            }
        });
    }

    function loadData(x) {
        var id = x;
        $.ajax({
            url: "/Requirment/EditViewJs?id=" + id,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                $.each(result, function (key, item) {
                    var p = document.getElementById('projectName');
                    var q = document.getElementById('number');
                    p.innerHTML = item.ProjectName;
                    q.innerHTML = item.Number;
                    document.getElementById('reqNum').value = item.RequirementNumber;
                    document.getElementById('description').value = item.Description;
                    document.getElementById('lvl').value = item.Level;
                    document.getElementById('projectId').value = item.ProjectId;

                });
            },
            error: function (errormessage) {
                alert('error : ' + errormessage.responseText);
                //var c = errormessage.error;
                //$('.tbody').html(errormessage.getAllResponseHeaders.toString());
            }
        });
    }

    function loadDataPopupCR(x) {
        var id = x;
        $.ajax({
            url: "/Requirment/EditViewJs?id=" + id,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                $.each(result, function (key, item) {
                    var p = document.getElementById("lblProName");
                    var q = document.getElementById("lblModul");
                    var r = document.getElementById("lblReNumb");
                    p.innerHTML = item.ProjectName;
                    q.innerHTML = item.Number;
                    r.innerHTML = item.RequirementNumber;
                });
            },
            error: function (errormessage) {
                alert('error : ' + errormessage.responseText);
            }
        });
    }


    function loadDataRD(id) {
        $.ajax({
            url: "/Requirment/GetDataRDById?id=" + id,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                document.getElementById('hdnEDocId').value = result.DocumentId
                document.getElementById('hdnERequimentId').value = result.RequimentId
                document.getElementById('hdnEDocTypeId').value = result.DocumentTypeId;
                document.getElementById('txtEDocName').value = result.DocumentName;
                var x = document.getElementById('file');
                x.innerHTML=result.FilePath;
                document.getElementById('txtEVersion').value = result.Version;
            }
        });
    }

    function back(){
        window.location.href = "/Project/Edit?id=" + id;
        //window.history.back();
    }

</script>

<h2>Requirement Information</h2>
<form>
    <table class="table">
        <tr>
            <td>
                Project Name
            </td>
            <td>:</td>
            <td>
                <input type="hidden" id="projectId" />
                <label id="projectName">>>>Label<<<</label>
            </td>
            <td>
                Requirement Number
            </td>
            <td>:</td>
            <td>
                <input type="text" id="reqNum" class="form-control" />
            </td>
        </tr>
        <tr>
            <td>
                Modul Number
            </td>
            <td>:</td>
            <td>
                <label id="number">>>>Label<<<</label>
            </td>
            <td>
                Level
            </td>
            <td>:</td>
            <td><input type="text" id="lvl" class="form-control" /></td>

        </tr>
        <tr>
            <td>
                Requirement Type
            </td>
            <td>:</td>
            <td>
                @Html.DropDownList("RequimentTypeId", null, htmlAttributes: new { @class = "form-control", id = "RequirmentIdAwal", onChange = " $('#RequimentTypeId').val($('#RequirmentIdAwal').val())" })
                <input id="RequimentTypeId" type="hidden" />
            </td>
            <td>
                Description
            </td>
            <td>:</td>
            <td>
                <textarea id="description" class="form-control"></textarea>
            </td>

        </tr>
        <tr>

            <td colspan="6" align="right"><input type="button" id="btnSave2" value="Save" class="btn btn-primary" onclick="back()"/></td>
        </tr>
    </table>
</form>


<hr />

<div class="modal fade" id="modalFormRD" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Tutup</span>
                </button>
                <h4 class="modal-title" id="labelModalKu">Input/Edit Requirement Document</h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <p class="statusMsg"></p>
                <form role="form">
                    <table class="table-condensed">
                        <tr>
                            <td>Document Type</td>
                            <td>:</td>
                            <td>
                                @Html.DropDownList("DocumentTypeId", null, htmlAttributes: new { @class = "form-control", id = "txtTypeId", onChange = "document.getElementById('hdnDocTypeId').value=document.getElementById('txtTypeId').value" })
                                <input type="hidden" id="hdnDocTypeId" class="form-control" />
                                <input type="hidden" id="hdnRequimentId" />
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Document Name</td>
                            <td>:</td>
                            <td>
                                <input class="form-control" type="text" id="txtDocName" />
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>File</td>
                            <td>:</td>
                            <td><input class="form-control" type="file" id="txtFile" /></td>
                            <td><div id="file"></div></td>
                        </tr>
                        <tr>
                            <td>Version</td>
                            <td>:</td>
                            <td><input class="form-control" type="text" id="txtVersion" /></td>
                            <td></td>
                        </tr>

                    </table>
                </form>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
                <input id="btnSaveRD" class="btn btn-primary submitBtn" type="button" value="Save" />
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalFormEditRD" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Tutup</span>
                </button>
                <h4 class="modal-title" id="labelModalKu">Input/Edit Requirement Document</h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <p class="statusMsg"></p>
                <form role="form">
                    <table class="table-condensed">
                        <tr>
                            <td>Document Type</td>
                            <td>:</td>
                            <td>
                                @Html.DropDownList("DocumentTypeId", null, htmlAttributes: new { @class = "form-control", id = "txtTypeId", onChange = "document.getElementById('hdnEDocTypeId').value=document.getElementById('txtTypeId').value" })
                                <input type="hidden" id="hdnEDocTypeId" class="form-control" />
                                <input type="hidden" id="hdnERequimentId" />
                                <input type="hidden" id="hdnEDocId" />
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Document Name</td>
                            <td>:</td>
                            <td>
                                <input class="form-control" type="text" id="txtEDocName" />
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>File</td>
                            <td>:</td>
                            <td><input class="form-control" type="file" id="txtEFile" /></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Version</td>
                            <td>:</td>
                            <td><input class="form-control" type="text" id="txtEVersion" /></td>
                            <td></td>
                        </tr>

                    </table>
                </form>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
                <input id="btnEditRD" class="btn btn-primary submitBtn" type="button" value="Save" />
            </div>
        </div>
    </div>
</div>
<div>
    <table width="100%">
        <tr>
            <td align="left"><h2>Requirement Document</h2></td>
            <td colspan="6" align="right"><button class="btn btn-success btn-lg" data-toggle="modal" data-target="#modalFormRD">Add</button></td>
        </tr>
    </table>
    <table class="table table-striped table-bordered table-sm">
        <thead>
            <tr>
                <td>Requirement Number</td>
                <th>Document Type   </th>
                <th>Document Name </th>
                <th>File </th>
                <th>Version</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="TblReqDoc"></tbody>
    </table>
</div>

<center>
    <div>
        <label id="pagePositionRD"></label><br />
        <label id="jumlahDataRD" style="margin: 10px;"></label>
        <div id="buttonPageRD"></div>
    </div>
</center>
<hr />
<div class="modal fade" id="modalFormCR" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Tutup</span>
                </button>
                <h4 class="modal-title" id="labelModalKu">Change Request</h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <p class="statusMsg"></p>
                <form role="form">
                    <table class="table-condensed">
                        <tr>
                            <td>Requirement Number</td>
                            <td>:</td>
                            <td><label id="lblReNumb">>>Label<<</label></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Project Name</td>
                            <td>:</td>
                            <td><label id="lblProName">>>Label<<</label></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Modul</td>
                            <td>:</td>
                            <td><label id="lblModul">>>Label<<</label></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Change Request Number</td>
                            <td>:</td>
                            <td><input class="form-control required" type="text" id="txtRequestNumber" required /></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>:</td>
                            <td><textarea class="form-control required" id="txtDesc" required></textarea></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Mandays Estimation</td>
                            <td>:</td>
                            <td><input class="form-control required" id="txtMandays" type="text" required /></td>
                            <td></td>
                        </tr>
                    </table>
                </form>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
                <input id="btnSaveCR" class="btn btn-primary submitBtn" type="button" value="Save" />
            </div>
        </div>
    </div>
</div>
<div>
    <table width="100%">
        <tr>
            <td align="left"><h2>Change Request</h2></td>
            <td colspan="7" align="right"><button class="btn btn-success btn-lg" data-toggle="modal" data-target="#modalFormCR">Add</button></td>
        </tr>
    </table>
    <table class="table table-striped table-bordered table-sm">
        <thead>
            <tr>
                <th>Project Name</th>
                <th>Modul</th>
                <th>Change Request Number</th>
                <th>Description</th>
                <th>Change Request Date </th>
                <th>Mandays Estimation</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="TblChangeReq"></tbody>
    </table>
</div>

<center>
    <div>
        <label id="pagePositionCR"></label><br />
        <label id="jumlahDataCR" style="margin: 10px;"></label>
        <div id="buttonPageCR"></div>
    </div>
</center>

<hr />
<h2>Requirement History</h2>
        <table class="table table-striped table-bordered table-sm">
            <thead>
                <tr>
                    <th>Requirement Number</th>
                    <th>Description</th>
                    <th>Level</th>
                    <th>Creation Details</th>
                </tr>
            </thead>
            <tbody id="TblReqHistory"></tbody>
        </table>
        <center>
            <div>
                <label id="pagePositionRH"></label><br />
                <label id="jumlahDataRH" style="margin: 10px;"></label>
                <div id="buttonPageRH"></div>
            </div>
        </center>
