﻿@*
    Author             : Sahdan Hidayatul Muzaki
    Created date       : Rabu, 21/11/2018
    Modified by        :
    Date modified      :
    Additional         :
*@

@{
    ViewBag.Title = "Index";
}

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="//code.jquery.com/jquery-1.12.4.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- add thids links for the error message-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/1.3.1/css/toastr.css" />
<script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/1.3.1/js/toastr.js"></script>


<!--add this link for the datatable-->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.csss" rel="stylesheet" />

<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js" integrity="sha256-4F7e4JsAJyLUdpP7Q8Sah866jCOhv72zU5E8lIRER4w=" crossorigin="anonymous"></script>

@*
<meta name="viewport" content="width=device-width" />
<title>Master Client</title>



<h2>Master Client</h2>
<hr />
<style>
    .red_border {
        border: 1px solid #e46262;
    }

    .LoadingDiv {
        top: 0;
        left: 0;
        position: fixed;
        opacity: 0.97;
        z-index: 10000000;
        background: Black;
        height: 100%;
        width: 100%;
        margin: auto;
    }

    .dataTables_filter {
        float: right;
    }
</style>


<div class="col-md-12">
    <div class="col-md-4"></div>
    <div class="col-md-4">

        <div class="col-md-12">
            <table border="0" width="500" align="center">
                <tr>
                    <td><label>Nama Client</label></td>
                    <td><label>:</label></td>
                    <td width="300"><input class="form-control required" type="text" id="txtNamaClient" required /></td>
                </tr>
                <tr>
                    <td><label>Contact Person</label></td>
                    <td><label>:</label></td>
                    <td><input class="form-control required" type="text" id="txtContactPerson" required /></td>
                </tr>
                <tr>
                    <td><label>Phone</label></td>
                    <td><label>:</label></td>
                    <td><input class="form-control required" onkeypress="return isNumberKey(event)" id="txtPhone" type="text" required /></td>
                </tr>
                <tr>
                    <td><label>E-mail</label></td>
                    <td><label>:</label></td>
                    <td><input class="form-control required" id="txtEmail" type="email" /></td>
                </tr>

                <tr>
                    <td>
                        <input id="btnSave" class="btn btn-success" type="button" value="Save Client" />
                        <input id="btnCancel" class="btn btn-danger" type="button" value="Cancel" />
                    </td>

                </tr>
            </table>
        </div>

    </div>
    <div class="col-md-4"></div>



</div>
<div class="col-md-12">
    <table id="tblClient" class="table table-striped table-bordered" width="100%">
        <thead>
            <tr>

                <th>Client Id</th>
                <th>Nama Client</th>
                <th>Contact Person</th>
                <th>Phone</th>
                <th>E-Mail</th>
                <th>Aksi</th>

            </tr>
        </thead>

    </table>
    <h4>@Html.ActionLink("Back To Project", "Index", "Project")</h4>
</div>
<div id="dvLoader" class="LoadingDiv" style="display: none;">
    <table style="height: 100%; margin: auto;">
        <tr>
            <td style="vertical-align: middle;">
                <center>
                    <img src="http://www.girlsgotit.org/images/form-loader.gif" alt="Loading" />
                </center>
            </td>
        </tr>
    </table>
</div>
<input type="hidden" id="hdnPID" value="0" />
<script type="text/javascript">

    $(document).ready(function () {

        windowResize();
        $(window).resize(function () {
            windowResize();
        });
        $('#toast-container').find('.toast-top-center').removeClass('.toast-top-center');
        toastr.options = {
            "closeButton": true,
            'autoWidth': false,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-top-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "3000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }


        //________________________________________________________________
        $("#btnSave").click(function () {
            var PID = $("#hdnPID").val();
            var NamaClient = $("#txtNamaClient").val();
            var ContactPerson = $("#txtContactPerson").val();
            var Phone = $("#txtPhone").val();
            var Email = $("#txtEmail").val();

            if (CheckRequiredFields()) {

                $('#dvLoader').show();
                $.ajax({
                    url: '@Url.Action("SaveAndUpdateClient", "MasterClient")',
                        type: 'POST',
                        data: JSON.stringify({ "PID": parseInt(PID), "namaClient": NamaClient, "contactPerson": ContactPerson, "phone": Phone, "email": Email}),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            $('#dvLoader').hide();

                            if (result.Status == "True") {
                                toastr.success(result.Message);
                                clear();
                                display();
                            }
                            else {
                                toastr.success(result.Message);
                                clear();
                                display();

                            }
                        }
                    });

                }

        });

        $("#btnCancel").click(function () {
            clear();
        });

    });
        function CheckRequiredFields() {
            var isValid = true;
            $('.required').each(function () {
                if ($.trim($(this).val()) == '') {
                    isValid = false;
                    $(this).addClass('red_border');


                }
                else {
                    $(this).removeClass('red_border');

                }
            });
            return isValid;
        }

        function checkemail(valemail) {
            var forgetfilter = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            if (forgetfilter.test(valemail)) {
                return true;
            }
            else {
                return false;
            }
        }
        function clear() {
            $("#txtNamaClient").val("");
            $("#txtContactPerson").val("");
            $("#txtPhone").val("");
            $("#txtEmail").val("");
            $('#btnSave').val("Save Client");
            $("#hdnPID").val(0);
        }
        function display() {
            $('#dvLoader').show();
            Table = $('#tblClient').DataTable({

                "processing": true,
                "serverSide": false,
                "paging": true,
                "ordering": true,
                "info": true,
                "searching": true,
                "bFilter": false,
                "scrollX": "100%",
                "scrollY": ($(window).height() - 500),
                "sScrollXInner": "100%",
                "bScrollCollapse": true,
                "sAjaxSource": '@Url.Action("GetClient","MasterClient")',
                "bDestroy": true,
                "bLengthChange": true,
                "bPaginate": true,
                "sEmptyTable": "Loading data from server",

                "columns": [

                    {
                        "sWidth": "5%",
                        "sClass": "TextCenter PID",
                        "render": function (data, type, row) {
                            return row[0];
                        }
                    },
                    { "sWidth": "5%", "sClass": "TextCenter NamaClient", "render": function (data, type, row ) { return (row[1]); } },
                    { "sWidth": "5%", "sClass": "TextCenter ContactPerson", "render": function (data, type, row ) { return (row[2]); } },
                    { "sWidth": "5%", "sClass": "TextCenter Phone", "render": function (data, type, row) { return (row[3]); } },
                    { "sWidth": "5%", "sClass": "TextCenter Email", "render": function (data, type, row) { return (row[4]); } },

                     {
                         "bSortable": false,
                         "sClass": "TextCenter",
                         "sWidth": "3%",
                         "render": function (data, type, row) {
                             return '<center><a href="javascript:void(0);"  onclick=deleteData("' + row[0] + '"); return false;> <i class="glyphicon glyphicon-trash"></i></a>&nbsp;&nbsp;<a href="javascript:void(0);"  onclick=EditData(this); return false;> <i class="glyphicon glyphicon-edit"></i></a> </center>';
                         }, "targets": 0,
                     }

                ],

            });
            $('#dvLoader').hide();
        }
    function windowResize() {
        display();

    };
    function deleteData(id) {
        var PID = parseInt(id);
        bootbox.confirm({
            title: 'Remove Client',
            message: 'Anda yakin ingin menghapus data ini?',
            buttons: {
                'cancel': {
                    label: 'No',
                    className: 'btn-default pull-right'
                },
                'confirm': {
                    label: 'Yes',
                    className: 'btn-primary margin-right-5'
                }
            },
            callback: function (result) {
                if (result) {
                    $('#dvLoader').show();
                    $.ajax({
                        url: '@Url.Action("DeleteClient", "MasterClient")',
                        type: 'POST',
                        data: JSON.stringify({ "id": id }),
                        contentType: 'application/json; charset=utf-8;',
                        success: function (result) {
                            windowResize();
                            $('#dvLoader').hide();

                            if (result.Status == "True") {
                                toastr.success(result.Message);
                                clear();
                            }
                            else {
                                toastr.success(result.Message);

                            }
                        }
                    });
                }
            }
        });
    }
    function EditData(row) {
        debugger

        var PID = $(row).closest('tr').find('.PID').html();
        $("#hdnPID").val(parseInt(PID));

        var NamaClient = $(row).closest('tr').find('.NamaClient').html();
        $('#txtNamaClient').val(NamaClient);

        var ContactPerson = $(row).closest('tr').find('.ContactPerson').html();
        $('#txtContactPerson').val(ContactPerson);

        var Phone = $(row).closest('tr').find('.Phone').html();
        $('#txtPhone').val(Phone);

        var Email = $(row).closest('tr').find('.Email').html();
        $('#txtEmail').val(Email);

        $('#btnSave').val("Update Client");
    }
    function isNumberKey(evt) {
        var charcode = (evt.which) ? evt.which : evt.keycode
        if (charcode > 31 && (charcode < 48 || charcode > 58)
            && evt.keyCode != 35 && evt.keyCode != 36 && evt.keyCode != 37
            && evt.keyCode != 38 && evt.keyCode != 39 && evt.keyCode != 40
            && evt.keyCode != 46) {
            return false;
        }
        else {
            return true;
        }
    }
</script>*@
<script type="text/javascript">
    $(document).ready(function () {
        loadDataClient();

        
    });

    function loadDataClient() {
        $.ajax({
            url: "/MasterClient/GetDataClient/",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';
                $.each(result, function (ket, item) {
                    html += '<tr>';
                    html += '<td>' + item.Name + '</td>';
                    html += '<td>' + item.ContactPerson + '</td>';
                    html += '<td>' + item.Phone + '</td>';
                    html += '<td>' + item.Email + '</td>';
                    html += '<td><button class="btn btn-warning" onclick="loadDataEditClient(' + item.ClientId + ')">Edit</button></td>';
                    html += '</tr>';
                });
                $('.tbClient').html(html);
            }
        });
    }

    function SaveClient() {
        var Name = $("#Name").val();
        var CP = $("#ContactPerson").val();
        var Phone = $("#Phone").val();
        var Email = $("#Email").val();

        $.ajax({
            url: '@Url.Action("SaveClient", "MasterClient")',
            type: 'POST',
            data: JSON.stringify({
                "Name":Name,
                "ContactPerson": CP,
                "Phone": Phone,
                "Email": Email
            }),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                if (result.Status == "true") {
                    toastr.success(result.Message);
                }
                else {
                    toastr.success(result.Message);
                }
            }
        });
        $("#btnSave").html('<input onclick="load()" class="btn btn-primary submitBtn" type="button" value="Save" />');

    }

    function loadDataEditClient(a) {
        var id =a;
        $.ajax({
            url: "/MasterClient/GetDataById/" + id,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                document.getElementById('ClientId').value = result.ClientId;
                document.getElementById('Name').value = result.Name;
                document.getElementById('ContactPerson').value = result.ContactPerson;
                document.getElementById('Phone').value = result.Phone;
                document.getElementById('Email').value = result.Email;
            }
        });
        $("#btnSave").html('<input onclick="EditDataClient(' + id + ')" class="btn btn-primary submitBtn" type="button" value="Save" />');
        document.getElementById("Name").disabled = false;
        document.getElementById("ContactPerson").disabled = false;
        document.getElementById("Phone").disabled = false;
        document.getElementById("Email").disabled = false;
    }

    function EditDataClient() {
        var ClientId = $("#ClientId").val();
        var Name = $("#Name").val();
        var CP = $("#ContactPerson").val();
        var Phone = $("#Phone").val();
        var Email = $("#Email").val();
        $.ajax({
            url: '@Url.Action("EditClient", "MasterClient")',
            type: 'POST',
            data: JSON.stringify({
                "ClientId" : ClientId,
                "Name": Name,
                "ContactPerson": CP,
                "Phone": Phone,
                "Email": Email
            }),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                if (result.Status == "true") {
                    toastr.success(result.Message);
                }
                else {
                    toastr.success(result.Message);
                }
            }
        });
        $("#btnSave").html('<input onclick="load()" class="btn btn-primary submitBtn" type="button" value="Save" />');

    }

    function Add() {
        $("#btnSave").html('<input onclick="SaveClient()" class="btn btn-primary submitBtn" type="button" value="Save" />');
        document.getElementById("Name").disabled = false;
        document.getElementById("ContactPerson").disabled = false;
        document.getElementById("Phone").disabled = false;
        document.getElementById("Email").disabled = false;
    }

    function load() {
        loadDataClient();
        $("#ClientId").val("");
        $("#Name").val("");
        $("#ContactPerson").val("");
        $("#Phone").val("");
        $("#Email").val("");
        document.getElementById("Name").disabled = true;
        document.getElementById("ContactPerson").disabled = true;
        document.getElementById("Phone").disabled = true;
        document.getElementById("Email").disabled = true;
    }
</script>
<h2>Client</h2>
<input type="hidden" id="ClientId"/>
<table class="table" width="70%">
    <tr>
        <td>Name</td>
        <td>:</td>
        <td><input type="text" id="Name" class="form-control" disabled/></td>
    </tr>
    <tr>
        <td>Contact Person</td>
        <td>:</td>
        <td><input type="text" id="ContactPerson" class="form-control" disabled/></td>
    </tr>
    <tr>
        <td>Phone</td>
        <td>:</td>
        <td><input type="text" id="Phone" class="form-control" disabled/></td>
    </tr>
    <tr>
        <td>Email</td>
        <td>:</td>
        <td><input type="text" id="Email" class="form-control" disabled/></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td><div id="btnSave"></div></td>
    </tr>
</table>
<table class="table">
    <tr>
        <td align="left"><h2>List Client</h2></td>
        <td colspan="6" align="right"><button class="btn btn-success btn-lg" onclick="Add()">Tambah</button></td>
    </tr>
</table>
<table class="table table-striped table-bordered table-sm">
    <tr>
        <th>Name</th>
        <th>Contact Person</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Action</th>
    </tr>
    <tbody class="tbClient"></tbody>
</table>
