﻿@model ProjectManagement.Entities.Project

@{
    ViewBag.Title = "Edit";
}

@*
    Modified : Nispi Abdul Aziz
    Tanggal: 3-12-2018
         4-12-2018
         5-12-2018
        6-12-2018
*@
<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- jQuery library -->
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>


    <!-- add thids links for the error message-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/1.3.1/css/toastr.css" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/1.3.1/js/toastr.js"></script>




    <script>
        $(document).ready(function () {
            //________________________________________________________________

        
            $("#btnEditRD").click(function(){
                var hdnEDocTypeId =$("#hdnEDocTypeId").val();
                var hdnERequimentId =$("#hdnERequimentId").val();
                var hdnEDocId =$("#hdnEDocId").val();
                var txtEDocName=$("#txtEDocName").val();
                var txtEFile=$("#txtEFile").val();
                var txtEVersion=$("#txtEVersion").val();
                alert(hdnEDocTypeId);
                alert(hdnERequimentId);
                alert(hdnEDocId);
                alert(txtEDocName);
                alert(txtEFile);
                alert(txtEVersion);

                $.ajax({
                
                    url: '@Url.Action("EditReqDoc", "Requirment")',
                    type: 'POST',
                    data: JSON.stringify({
                        "DocumentId": hdnEDocId,
                        "RequimentId": hdnERequimentId,
                        "DocumentTypeId": hdnEDocTypeId,
                        "DocumentName": txtEDocName,
                        "FilePath":txtEFile,
                        "Version": txtEVersion
                    }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        //$('#dvLoader').hide();

                        if (result.Status == "True") {
                            toastr.success(result.Message);
                            clear();
                            //display();
                            // $('#modalModul').hide();
                        }
                        else {
                            toastr.success(result.Message);
                        }
                    }
                });
            });

            $("#btnSaveProAdd").click(function(){
                var typeDoc=$("#docIddd").val();
                var proId=@ViewBag.ProjectId;
                var name= $("#DocNama").val();
                var files=$("#txFiles").val();
                var version=$("#txVersions").val();
                alert("Tye :"+typeDoc);
                //alert("name :"+name);
                //alert("files :"+files);
                //alert("version :"+version);

                $.ajax({
                    url: '@Url.Action("SaveProDocAdd", "Project")',
                    type: 'POST',
                    data: JSON.stringify({
                        "typeDoc": typeDoc,
                        "proId": proId,
                        "name": name,
                        "files": files,
                        "version": version
                    }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        //$('#dvLoader').hide();

                        if (result.Status == "True") {
                            toastr.success(result.Message);
                            clear();
                            //display();
                            // $('#modalModul').hide();
                        }
                        else {
                            toastr.success(result.Message);
                            clear();
                            //display();
                            modul.hide()
                            //$('#modalModul').hide();
                        }
                    }
                });

            });
            $("#btnSavePro").click(function(){

                var DocId=$("#DocId").val();
                var ProjectId=@ViewBag.ProjectId;
                var Doc=$("#Doc").val();
                var DocName=$("#DocName").val();
                var txtFile=$("#txFile").val();
                var txtVersion=$("#txVersion").val();
                alert(DocId);
                alert(ProjectId);
                alert(DocName);
                alert(txtFile);
                alert(txtVersion);
                $.ajax({
                    url: '@Url.Action("SaveModulProjectDocument", "Project")',
                    type: 'POST',
                    data: JSON.stringify({
                        "DocId": DocId,
                        "ProjectId" : ProjectId,
                        "Doc":Doc,
                        "DocName":DocName,
                        "txtFile": txtFile,
                        "txtVersion":txtVersion
                    }),

                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        //$('#dvLoader').hide();
                        //alert("Masuk");
                        alert(DocId);
                        if (result.Status == "True") {
                            toastr.success(result.Message);
                            alert("Sukses");
                        }
                        else {
                            toastr.success(result.Message);
                            alert("Gagal");
                        }
                    }
                });


            });
            $("#btnSav").click(function(){
                //alert("Masuk");
                var type=$("#DependToModul").val();
                var id=$("#DependencyId").val();
                var idmod=$("#ModId").val();
                $.ajax({
                    url: '@Url.Action("SaveModulDependency", "PopUp")',
                    type: 'POST',
                    data: JSON.stringify({
                        "DependencyId": id,
                        "ModulId":idmod,
                        "DependToModul":Type
                    }),

                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        //$('#dvLoader').hide();

                        if (result.Status == "True") {
                            toastr.success(result.Message);
                            alert("Sukses");
                        }
                        else {
                            toastr.success(result.Message);
                            alert("Gagal");
                        }
                    }
                });
            });
            $("#btnSave2").click(function () {
                alert("masuk");
                var ModulNumber = $("#txtModulNumber").val();
                var ModulName = $("#txtModulName").val();
                var ModulParent = $("#dest").val();
                var ModulPic= $("#txtPic").val();
                var ModulStatus = $("#dst").val();
                var project =  @ViewBag.ProjectId;
                var maydays = $("#maydays").val();
                var startDate = $("#startDate").val();
                var EndDate = $("#EndDate").val();

                //if (CheckRequiredFields()) {

                //$('#dvLoader').show();
                alert("Masuk");
                $('#dvLoader').show();
                $.ajax({
                    url: '@Url.Action("SaveModul", "PopUp")',
                    type: 'POST',
                    data: JSON.stringify({
                        "project": project,
                        "ModulName": ModulName,
                        "ModulNumber": ModulNumber,
                        "ModulParent": ModulParent,
                        "ModulPic": ModulPic,
                        "ModulStatus": ModulStatus,
                        "maydays":maydays,
                        "startDate":startDate,
                        "EndDate":EndDate
                    }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        $('#dvLoader').hide();

                        if (result.Status == "True") {
                            toastr.success(result.Message);
                            clear();
                            //display();
                            $('#modalModul').modal('hide');
                        }
                        else {
                            toastr.success(result.Message);
                            clear();
                            //display();
                            modul.hide()
                            $('#modalModul').modal('hide');
                        }
                    }
                });

                //}


            });

            $("#btnCancel").click(function () {
                clear();
            });

        

            function CheckRequiredFields() {
                var isValid = true;
                $('.required').each(function () {
                    if ($.trim($(this).val()) == '') {
                        isValid = false;
                        $(this).addClass('red_border');


                    }
                    else {
                        $(this).removeClass('red_border');

                    }
                });
                return isValid;
            }
            function clear() {
                $("#txtModulNumber").val("");
                $("#txtModulName").val("");
                $("#txtid").val("");
                $("#txtPic").val("");
                $("#txtStatus").val("");
            }

        });
    </script>


    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<script>
    //Load Data in Table when documents is ready
    $(document).ready(function () {
        var ProjectId = @ViewBag.ProjectId;
        loadData(ProjectId);
        loadDataRequirmentDocument(ProjectId);
        loadDataReq(ProjectId);
        loadDataModul(ProjectId);
        loadDataProjectDocument(ProjectId);
        loadDataModalDocument(ProjectId);
        loadDataModalDependency(ProjectId);
        loadDataChangeRequest(ProjectId);
        loadDataProjectSchedule(ProjectId);
    });
    //Load Data function
    function ToJavaScriptDate(value) {
        var pattern = /Date\(([^)]+)\)/;
        var results = pattern.exec(value);
        var dt = new Date(parseFloat(results[1]));
         return (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear();
        //return (dt);
    }
    function loadData(ProjectId) {
        $.ajax({
            url: "/Project/GetById?ProjectId=" + ProjectId,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                $('#ProjectId').val(result.ProjectId);
                $('#ProjectName').val(result.ProjectName);
                $('#ProName').val(result.ProjectName)
                $('#Description').val(result.Description);
                $('#ClientId').val(result.ClientId);
                $('#PIC').val(result.PIC);
                $('#ProjectStatusId').val(result.ProjectStatusId);
                $('#MandaysEstimation').val(result.MandaysEstimation);
                $('#MandaysEstimationCal').val(result.MandaysEstimationCal);
                $('#StartDatePlan').val(ToJavaScriptDate(result.StartDatePlan));
                //$('#EndDatePlan').val(result.EndDatePlan.ToString());
                $('#EndDatePlan').val(ToJavaScriptDate(result.EndDatePlan));
                $('#StartDateActual').val(ToJavaScriptDate(result.StartDateActual));
                $('#EndDateActual').val(ToJavaScriptDate(result.EndDateActua));
                alert("mana :"+result.MandaysEstimation);
                alert("manaCall :"+result.MandaysEstimationCal);

            }
        });
    }

    function saveToDb() {
        var valueEdited = {
            ProjectId:  $('#ProjectId').val(),
            ProjectName: $('#ProjectName').val(),
            ProjectStatusId:$('#ProjectStatusId').val(),
            Description:$('#Description').val(),
            PIC:$('#PIC').val(),
            StartDatePlan: $('#StartDatePlan').val(),
            EndDatePlan: $('#EndDatePlan').val(),
            StartDateActual: $('#StartDateActual').val(),
            EndDateActual: $('#EndDateActual').val(),
            ClientId: $('#ClientId').val(),
            MandaysEstimation: $('#MandaysEstimation').val()
        };
        $.ajax({
            url: "/Project/SaveToDb",
            data: JSON.stringify(valueEdited),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success:window.location.href='/Project/Index',
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function loadDataModul(ProjectId,page) {
        var searchModul=$("#searchModul").val();
        if (page == null) {
            page = 1;
        }
        //alert(page);
        $.ajax({

            url: "/Project/ListDataModul?ProjectId=" + ProjectId+"&page="+page+"&r="+searchModul ,
            type: "GET",
            //data: JSON.stringify({
            //    "ProjectId": ProjectId.val(),
            //    "page": page.val()
            //}),
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';
                var btn = '';
                var c = 0;
                var ctr = 0;
                $.each(result, function (key, item) {
                    html += '<tr>';
                    html += '<td>' + item.ModulNumber + '</td>';
                    html += '<td>' + item.ModulName + '</td>';
                    html += '<td>' + item.Description + '</td>';
                    html += '<td>' + item.PIC + '</td>';
                    html += '<td>' + item.ModulStatusStr + '</td>';
                    html += '<td>Start Date Plan : '+item.StartDatePlan+'<br/>'+
                        'End Date Plan : '+item.EndDatePlan+'<br/>'+
                        'Start Date Actual : '+item.StartDateActual+'<br/>'+
                        'End Date Actual : '+item.EndDateActual+
                        ' </td>';
                    html += '<td>' + item.MadaysEstimation + '</td>';
                    //html += '<td><button onclick="return GetById(' + item.ProjectId + ')" class="btn btn-warning" >EditOk</button></td>';
                    html += '<td><a href="/EditModul/Edit/' + item.ModulId + '"><button class="btn btn-warning">Edit</button></a></td>';
                    html += '</tr>';
                    c = item.Lenght;
                    ctr++;
                });
                $('.tbodymodul').html(html);
                //alert("Masuk : " + ctr);
                t = 1;
                for (var i = 0; i < c; i += 5) {
                    btn += '<button onclick="return loadDataModul('+ProjectId+','+ t + ')" class="btn btn-info" >' + t + '</button>';
                    t++;
                }
                $('#buttonPage').html(btn);
                $('#pagePosition').html('Anda berada di halaman : ' + page + ' dari ' + (t - 1));
                $('#jumlahData').html('Total Data : ' + c);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function loadDataReq(ProjectId,page){
        if(page==null){
            page=1
        }
        var searchReq=$("#searchReq").val();
        //alert("Masuk Ke Load Data Req"+ProjectId);
        $.ajax({
            url:"/Project/ListDataReq?ProjectId=" + ProjectId+"&page="+page+"&rs="+searchReq,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';
                var btn = '';
                var c = 0;
                var ctr = 0;
                $.each(result, function (key, item) {
                    html += '<tr>';
                    html += '<td>' + item.Number + '</td>';
                    html += '<td>' + item.modulName + '</td>';
                    html += '<td>' + item.TypeReq + '</td>';
                    html += '<td>' + item.RequirementNumber + '</td>';
                    html += '<td>' + item.Description + '</td>';
                    html += '<td>' + item.Level + '</td>';
                    html += '<td>Creation By : '+item.CreationBy+'<br/>'+
                            'Creation Date : '+item.CreationDate+'<br/>'+
                            'Modified By : '+item.ModifiedBy+'<br/>'+
                            'Modified Date : '+item.ModifiedDate+
                            '</td>';
                    html += '<td><a href="/Requirment/Edit/' + item.RequimentId + '"><button class="btn btn-warning">Edit</button></a></td>';
                    html += '</tr>';
                    c = item.length;
                    ctr++;
                });
                $('.tbodyreq').html(html);
                t = 1;
                for (var i = 0; i < c; i += 5) {
                    btn += '<button onclick="return loadDataReq('+ProjectId+','+ t + ')" class="btn btn-info" >' + t + '</button>';
                    t++;
                }
                $('#buttonPageReq').html(btn);
                $('#pagePositionReq').html('Anda berada di halaman : ' + page + ' dari ' + (t - 1));
                $('#jumlahDataReq').html('Jumlah Data : ' + ctr + ' dari ' + c);

            },
        });
    }

    function loadDataModalDocument(ProjectId,page){
        var searchModDoc=$("#searchModDoc").val();
        if(page==null){
            page=1;
        }
        $.ajax({
            url: "/Project/ListDataModDoc?ProjectId=" + ProjectId+"&page="+page+"&r="+searchModDoc,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';
                var btn = '';
                var c = 0;
                var ctr = 0;
                $.each(result, function (key, item) {
                    html += '<tr>';
                    html += '<td>' + item.DocumentType + '</td>';
                    html += '<td>' + item.DocumentName + '</td>';
                    html += '<td>' + item.FilePath + '</td>';
                    html += '<td>' + item.Version + '</td>';
                    //html += '<td><button onclick="return GetById(' + item.ProjectId + ')" class="btn btn-warning" >EditOk</button></td>';
                    html += '<td><button class="btn btn-warning"data-toggle="modal" data-target="#modalModulDoc" onclick="modalProdocShow('+item.DocumentId+')">Edit</button></td>';
                    html += '</tr>';
                    c = item.length;
                    ctr++;
                });
                $('.tbodyModDoc').html(html);
                //$('.tbodyreq').html(html);
                t = 1;
                for (var i = 0; i < c; i += 5) {
                    btn += '<button onclick="return loadDataModalDocument('+ProjectId+','+ t + ')" class="btn btn-info" >' + t + '</button>';
                    t++;
                }
                $('#buttonPageModDoc').html(btn);
                $('#pagePositionModDoc').html('Anda berada di halaman : ' + page + ' dari ' + (t - 1));
                $('#jumlahDataModDoc').html('Total Data : ' + c);

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function modalProdocShow(id){
        //alert(id);
        $.ajax({
            url: "/Project/GetByIdPro?id=" + id,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                //alert(result.DocumentId);
                $('#idd').val(result.DocumentId);
                $('#txtDocName').val(result.DocumentName);
                //$('#txtFile').val(result.FilePath);
                $('#txtVer').val(result.Version)

            }
        });
        //$('#modalModulDoc').show();
    }

    function UpdateDoc(){
        var idd=$("#idd").val();
        var id=$("#dc").val();
        var name=$("#txtDocName").val();
        var file=$("#txtFile").val();
        var version=$("#txtVer").val();
        alert(id);
        $.ajax({
            url: '@Url.Action("SaveModDoc", "PopUp")',
            type: 'POST',
            data: JSON.stringify({
                "idd":idd,
                "id": id,
                "name": name,
                "file": file,
                "version": version,
            }),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                $('#dvLoader').hide();

                if (result.Status == "True") {
                    toastr.success(result.Message);
                    clear();
                    //display();
                }
                else {
                    toastr.success(result.Message);
                    clear();
                    //display();
                }
            }
        });
    }

    function loadDataRequirmentDocument(ProjectId,page){
        var searchReqDoc=$("#searchReqDoc").val();
        if(page==null){
            page=1
        }
        //alert("Reqdoc");
        $.ajax({
            url: "/Project/ListDataReqDoc?ProjectId=" + ProjectId+"&page="+page+"&r="+searchReqDoc,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';
                var btn = '';
                var c = 0;
                var ctr = 0;
                $.each(result, function (key, item) {
                    html += '<tr>';
                    html += '<td>' + item.requirmentNumber + '</td>';
                    html += '<td>' + item.documentType + '</td>';
                    html += '<td>' + item.DocumentName + '</td>';
                    html += '<td>' + item.FilePath + '</td>';
                    html += '<td>' + item.Version + '</td>';
                    //html += '<td><button onclick="return GetById(' + item.ProjectId + ')" class="btn btn-warning" >EditOk</button></td>';
                    html += '<td><button class="btn btn-warning" onclick="loadDataRD('+item.DocumentId+')" data-toggle="modal" data-target="#modalFormEditRD">Edit</button></td>';
                    html += '</tr>';
                    c = item.Length;
                    ctr++;
                });
                $('.tbodyReqDoc').html(html);

                t = 1;
                for (var i = 0; i < c; i += 5) {
                    btn += '<button onclick="return loadDataRequirmentDocument('+ProjectId+','+ t + ')" class="btn btn-info" >' + t + '</button>';
                    t++;
                }
                $('#buttonPageReqDoc').html(btn);
                $('#pagePositionReqDoc').html('Anda berada di halaman : ' + page + ' dari ' + (t - 1));
                $('#jumlahDataReqDoc').html('Total Data : ' + c);

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function loadDataModalDependency(ProjectId,page){
        var searchModDep=$("#searchModDep").val();
        if(page==null){
            page=1;
        }
        $.ajax({
            url: "/Project/ListDataModDep?ProjectId=" + ProjectId+"&page="+page+"&r="+searchModDep,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';
                var btn = '';
                var c = 0;
                var ctr = 0;
                $.each(result, function (key, item) {
                    html += '<tr>';
                    html += '<td>' + item.ModulNumber + '</td>';
                    html += '<td>' + item.ModulName + '</td>';
                    html += '<td>' + item.ModulNumber + '</td>';
                    html += '<td>' + item.ModulName + '</td>';
                    //html += '<td><button onclick="return GetById(' + item.ProjectId + ')" class="btn btn-warning" >EditOk</button></td>';
                    html += '<td><button class="btn btn-warning"onclick="GetByIdDep('+item.ModulId+','+item.DependencyId+')" data-toggle="modal" data-target="#modalFormDep">Edit</button></td>';
                    html += '</tr>';
                    c = item.Length;
                    ctr++;
                });
                $('.tbodyModDep').html(html);
                t = 1;
                for (var i = 0; i < c; i += 5) {
                    btn += '<button onclick="return loadDataModalDependency('+ProjectId+','+ t + ')" class="btn btn-info" >' + t + '</button>';
                    t++;
                }
                $('#buttonPageModDep').html(btn);
                $('#pagePositionModDep').html('Anda berada di halaman : ' + page + ' dari ' + (t - 1));
                $('#jumlahDataModDep').html('Total Data : ' + c);

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function loadDataProjectDocument(ProjectId,page) {
        var searchProDoc=$("#searchProDoc").val();
        if(page==null){
            page=1;
        }
        $.ajax({
            url: "/Project/ListDataProDoc?ProjectId=" + ProjectId+"&page="+page+"&r="+searchProDoc,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';
                var btn = '';
                var c = 0;
                var ctr = 0;
                $.each(result, function (key, item) {
                    html += '<tr>';
                    html += '<td>' + item.DocumentType + '</td>';
                    html += '<td>' + item.DocumentName + '</td>';
                    html += '<td>' + item.FilePath + '</td>';
                    html += '<td>' + item.Version + '</td>';
                    //html += '<td><button onclick="return GetById(' + item.ProjectId + ')" class="btn btn-warning" >EditOk</button></td>';
                    html += '<td><button  onclick="GetByIdProdoc('+item.DocumentId+')" class="btn btn-warning" data-toggle="modal" data-target="#modalFormPro">Edit</button></td>';
                    html += '</tr>';
                    c = item.Length;
                    ctr++;

                });
                $('.tbodyProDoc').html(html);
                t = 1;

                for (var i = 0; i < c; i += 5) {
                    btn += '<button onclick="return loadDataProjectDocument('+ProjectId+','+ t + ')" class="btn btn-info" >' + t + '</button>';
                    t++;
                }

                $('#buttonPageProDoc').html(btn);
                $('#pagePositionProDoc').html('Anda berada di halaman : ' + page + ' dari ' + (t - 1));
                $('#jumlahDataProDoc').html('Total Data : ' + c);

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function loadDataProjectSchedule(ProjectId,page){
        var searchProSche=$("#searchProSche").val();
        if(page==null){
            page=1;
        }
        $.ajax({
            url: "/Project/ListDataProjectSchedule?ProjectId=" + ProjectId+"&page="+page+"&r="+searchProSche,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';
                var btn = '';
                var c = 0;
                var ctr = 0;
                $.each(result, function (key, item) {
                    html += '<tr>';
                    html += '<td>' + item.ProjectName + '</td>';
                    html += '<td>' + item.Version + '</td>';
                    html += '<td> Start Date Plan :' + item.StartDate + '<br/>';
                    html += 'End Date Plan :' + item.EndDate + '</td>';
                    //html += '<td><button onclick="return GetById(' + item.ProjectId + ')" class="btn btn-warning" >EditOk</button></td>';
                    html += '<td><a href="/../../ProjectSchedule/Edit/' + item.ProjectScheduleId + '"><button class="btn btn-warning">Edit</button></a></td>';
                    html += '</tr>';
                    c = item.Lenght;
                    ctr++;

                });
                $('.tbodyschedule').html(html);
                t = 1;

                for (var i = 0; i < c; i += 5) {
                    btn += '<button onclick="return loadDataProjectSchedule('+ProjectId+','+ t + ')" class="btn btn-info" >' + t + '</button>';
                    t++;
                }
                $('#buttonPageProS').html(btn);
                $('#pagePositionProS').html('Anda berada di halaman : ' + page + ' dari ' + (t - 1));

                $('#jumlahDataProS').html('Total Data : ' + c);

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function loadDataChangeRequest(ProjectId,page){
        var searchchange=$("#searchchange").val();
        if(page==null){
            page=1
        }
        //alert("masuk"+page)
        $.ajax({
            url: "/Project/ListDataChangRequest?ProjectId=" + ProjectId+"&page="+page+"&r="+searchchange,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';
                var btn = '';
                var c = 0;
                var ctr = 0;
                $.each(result, function (key, item) {
                    html += '<tr>';
                    html += '<td>' + item.modulNumber + '</td>';
                    html += '<td>' + item.ModulName + '</td>';
                    html += '<td>' + item.reqnumber + '</td>';
                    html += '<td>' + item.Description + '</td>';
                    html += '<td>' + item.ChangeRequestDate + '</td>';
                    html += '<td>' + item.MandaysEstimation + '</td>';
                    //html += '<td><button onclick="return GetById(' + item.ProjectId + ')" class="btn btn-warning" >EditOk</button></td>';
                    html += '<td><a href="/../../ChangeRequest/Edit/' + item.ChangeRequestId + '"><button class="btn btn-warning">Edit</button></a></td>';
                    html += '</tr>';
                    c = item.lenght;
                    ctr++;
                });
                $('.tbodychange').html(html);
                t = 1;
                // alert ("Page :"+page )
                for (var i = 0; i < c; i += 5) {
                    btn += '<button onclick="return loadDataChangeRequest('+ProjectId+','+ t + ')" class="btn btn-info" >' + t + '</button>';
                    t++;
                }
                $('#buttonPageChange').html(btn);
                $('#pagePositionChange').html('Anda berada di halaman : ' + page + ' dari ' + (t - 1));
                $('#jumlahDataChange').html('Total Data : ' + c);

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function GetByIdProdoc(Id) {
        alert("Masuk");
        $.ajax({
            url: "/Project/GetByIdProdoc?id="+Id,
            type: "GET",
            contentType: "application/json;charset=UTF-8",
            success: function (result) {
                //alert(result.DocumentId);
                $('#ProdocId').val(result.ProjectId);
                $('#DocId').val(result.DocumentId);
                $('#DocName').val(result.DocumentName);
                var f = document.getElementById('txFile');
                f.setAttribute("type", "file");
               // $('#txtFile').val(result.FilePath);
                $('#txVersion').val(result.Version);
            }
        });
        return false;
    }

    function GetByIdRQ(ModulId) {
        //alert("/EditModul/Edit?id="+ModulId);
        $.ajax({
            url: "/EditModul/Edit?id="+ModulId,
            type: "GET",
            contentType: "application/json;charset=UTF-8",
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
        return false;
    }

    function GetByIdDep(ModulId,DependenId){
        alert("Masuk Pak Eko");
        $.ajax({
            url: "/Project/GetDataDepById?id=" + ModulId+"&idd="+DependenId,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                //alert(result.DocumentId);
                $('#moddepid').val(result.DependencyId);
                $('#ModId').val(result.ModulId);
                $('#ModulName').val(result.ModulName);
                $('#ModulNumber').val(result.ModulNumber);
            }
        });
    }



    function loadDataRD(id) {
        //alert(id);
        $.ajax({
            url: "/Project/GetDatacRDById?id=" + id,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                //alert(result.DocumentId);
                $('#hdnEDocId').val(result.DocumentId);
                $('#hdnERequimentId').val(result.RequimentId);
                $('#hdnEDocTypeId').val(result.DocumentTypeId);
                $('#txtEDocName').val(result.DocumentName);
                $('#txtEVersion').val(result.Version);
                //document.getElementById('hdnEDocId').value = result.DocumentId
                //document.getElementById('hdnERequimentId').value = result.RequimentId
                //document.getElementById('hdnEDocTypeId').value = result.DocumentTypeId;
                //document.getElementById('txtEDocName').value = result.DocumentName;
                var f = document.getElementById('txtEFile');
                f.setAttribute("type", "file");
                //document.getElementById('txtEVersion').value = result.Version;
            }
        });
    }
</script>
<h2>Project Informasi</h2>
@*/*

    Author             : Wawan Setiawan
    Created date       : Selasa, 27/11/2018
    Modified by        :
    Date modified      :
    Additional         :
*/*@
<table class="table">
    <tr>
        <td>
            <table>
                <tr>
                    <td>
                        Project Name
                    </td>
                    <td>:</td>
                    <td>
                        <input type="text" id="ProjectName" class="form-control"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        Description
                    </td>
                    <td>:</td>
                    <td>
                        <textarea id="Description" class="form-control"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        Client Name
                    </td>
                    <td>:</td>
                    <td>
                        @Html.DropDownList("ClientId", null, htmlAttributes: new { @class = "form-control", id = "ClientIdAwal", onChange = " $('#ClientId').val($('#ClientIdAwal').val())" })
                        <input id="ClientId" type="hidden" />
                    </td>                    
                </tr>
                <tr>
                    <td>
                        PIC
                    </td>
                    <td>:</td>
                    <td>
                        <input type="text" id="PIC" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td>Project Status</td>
                    <td>:</td>
                    <td>
                        @Html.DropDownList("ProjectStatusId", null, htmlAttributes: new { @class = "form-control", id = "ProjectStatusIdAwal", onChange = " $('#ProjectStatusId').val($('#ProjectStatusIdAwal').val())" })
                        <input id="ProjectStatusId" type="hidden" />
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <td>
                        Start Date Plan
                    </td>
                    <td>:</td>
                    <td>
                        <input type="date" id="StartDatePlan" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td>
                        End Date Plan
                    </td>
                    <td>:</td>
                    <td>
                        <input type="date" id="EndDatePlan" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Start Date Actual
                    </td>
                    <td>:</td>
                    <td>
                        <input type="date" id="StartDateActual" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td>
                        End Date Actual
                    </td>
                    <td>:</td>
                    <td>
                        <input type="date" id="EndDateActual" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Mandays Estimation
                    </td>
                    <td>:</td>
                    <td>
                        <input type="text" id="MandaysEstimation" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Mandays Estimation Cal
                    </td>
                    <td>:</td>
                    <td>
                        <input type="text" id="MandaysEstimationCal" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td colspan="2" align="right">
                        <input type="submit" value="Save" onclick="saveToDb()" class="btn btn-info" id="btnEditOk" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<br />

<table class="table table-striped table-bordered table-sm">
    <h2>Project Document</h2>
    <thead>
        <tr>
            <td>
                <input type="text" placeholder="Search" id="searchProDoc" class="form-control"/>
            </td>
            <td>
                <button onclick="loadDataProjectDocument(@ViewBag.ProjectId)" >Search</button>
            </td>
            <td colspan="3" align="right">
            
                <button class="btn btn-success btn-lg" data-toggle="modal" data-target="#modalFormProAdd">
                    Add
                </button>
            </td>
        </tr>
        <tr>
            <th>
                Document Type
            </th>
            <th>
                Dokument Name
            </th>
            <th>
                File
            </th>
            <th>
                Version
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody class="tbodyProDoc"></tbody>
</table>
<center>
    <div>
        <label id="pagePositionProDoc"></label><br />
        <label id="jumlahDataProDoc" style="margin: 10px;"></label>
        <div id="buttonPageProDoc"></div>
    </div>
</center>
<br />

<br />
<table class="table table-striped table-bordered table-sm">
    <h2>Modul</h2>
    

    

    <thead>
        <tr>
            <td>
                <input type="text" placeholder="Search" id="searchModul" class="form-control" />
            </td>
            <td>
                <button onclick="loadDataModul(@ViewBag.ProjectId)">Search</button>
            </td>
        
            <td colspan="8" align="right">
                <button class="btn btn-success btn-lg" data-toggle="modal" data-target="#modalModul">
                    Add
                </button>
            </td>
        </tr>
        <tr>
            <th>
                Modul Number
            </th>
            <th>
                Modul Name
            </th>
            <th>
                Description
            </th>
            <th>
                PIC
            </th>
            <th>
                Modul Status
            </th>
            <th>
                Creation Details
            </th>
            <th>
                Madays Estimation
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody class="tbodymodul"></tbody>
</table>
<center>
    <div>
        <label id="pagePosition"></label><br />
        <label id="jumlahData" style="margin: 10px;"></label>
        <div id="buttonPage"></div>
    </div>
</center>
<br />
<table class="table table-striped table-bordered table-sm">
    <h2>Modul Document</h2>
    
    <thead>
        <tr>
            <td>
                <input type="text" placeholder="Search" id="searchModDoc" />
            </td>
            <td colspan="4">
                <button onclick="loadDataModalDocument(@ViewBag.ProjectId)">Search</button>
            </td>
        </tr>
        <tr>
            <th>
                Document Type
            </th>
            <th>
                Dokument Name
            </th>
            <th>
                File
            </th>
            <th>
                Version
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody class="tbodyModDoc"></tbody>
</table>
<center>
    <div>
        <label id="pagePositionModDoc"></label><br />
        <label id="jumlahDataModDoc" style="margin: 10px;"></label>
        <div id="buttonPageModDoc"></div>
    </div>
</center>
<br />
<table class="table table-striped table-bordered table-sm">
    <h2>Modul Dependency</h2>
   
    
    <thead>
        <tr>
            <td>
                <input type="text" placeholder="Modul Name" id="searchModDep" class="form-control"/>
            </td>
            <td colspan="4">
                <button onclick="loadDataModalDependency(@ViewBag.ProjectId)" >Search</button>
            </td>
        </tr>
        <tr>
            <th>
                Modul Number
            </th>
            <th>
                Modul Name
            </th>
            <th>
                Depend To Modul Number
            </th>
            <th>
                Depend To Modul Name
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody class="tbodyModDep"></tbody>
</table>
<br />
<center>
    <div>
        <label id="pagePositionModDep"></label><br />
        <label id="jumlahDataModDep" style="margin: 10px;"></label>
        <div id="buttonPageModDep"></div>
    </div>
</center>

<br />
<table class="table table-striped table-bordered table-sm">
    <h2>Requirment</h2>
    
    
    <thead>
        <tr>
            <td>
                <input type="text" placeholder="Modul Name" id="searchReq" />
            </td>
            <td colspan="7">
                <button onclick="loadDataReq(@ViewBag.ProjectId)" >Search</button>
            </td>
        </tr>
        <tr>
            <th>
                Modul Number
            </th>
            <th>
                Modul Name
            </th>
            <th>
                Reuirment Type
            </th>
            <th>
                Requirment Number
            </th>
            <th>
                Description
            </th>
            <th>
                Level
            </th>
            <th>
                Creation Details
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody class="tbodyreq"></tbody>
</table>
<center>
    <div>
        <label id="pagePositionReq"></label><br />
        <label id="jumlahDataReq" style="margin: 10px;"></label>
        <div id="buttonPageReq"></div>
    </div>
</center>
<br />
<table class="table table-striped table-bordered table-sm">
    <h2>Requirment Document</h2>
    
   

    <thead>
        <tr>
            <td>
                <input type="text" placeholder="Document Name" id="searchReqDoc" />
            </td>
            <td colspan="5"><button onclick="loadDataRequirmentDocument(@ViewBag.ProjectId)" >Search</button></td>
        </tr>
        <tr>
            <th>Requirment Number</th>
            <th>
                Document Type
            </th>
            <th>
                Dokument Name
            </th>
            <th>
                File
            </th>
            <th>
                Version
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody class="tbodyReqDoc"></tbody>
</table>
<center>
    <div>
        <label id="pagePositionReqDoc"></label><br />
        <label id="jumlahDataReqDoc" style="margin: 10px;"></label>
        <div id="buttonPageReqDoc"></div>
    </div>
</center>
<br />
<br />
<table class="table table-striped table-bordered table-sm">
    <h2>Change Request</h2>
    
    
    <thead>
        <tr>
            <td>
                <input type="text" placeholder="Modul Name" id="searchchange" />
            </td>
            <td colspan="6">
                <button onclick="loadDataChangeRequest(@ViewBag.ProjectId)">Search</button>
            </td>
        </tr>
        <tr>
            <th>Modul Number</th>
            <th>
                Modul Name
            </th>
            <th>
                Requirment Number
            </th>
            <th>
                Requirment Description
            </th>
            <th>
                Change Request Date
            </th>
            <th>
                Mandays Estimation
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody class="tbodychange"></tbody>
</table>
<br />
<center>
    <div>
        <label id="pagePositionChange"></label><br />
        <label id="jumlahDataChange" style="margin: 10px;"></label>
        <div id="buttonPageChange"></div>
    </div>
</center>
<br />
<table class="table table-striped table-bordered table-sm">
    <h2>Project Schedule</h2>
    
    
    <thead>
        <tr>
            <td>
                <input type="text" placeholder="SearchByNameProject" id="searchProSche" />
            </td>
            <td colspan="3">
                <button onclick="loadDataProjectSchedule(@ViewBag.ProjectId)" class="btn btn-info">Search</button>
            </td>
        </tr>
        <tr>
            <th>Project Name</th>
            <th>
                Version
            </th>
            <th>
                Schedule Details
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody class="tbodyschedule"></tbody>
</table>
<center>
    <div>
        <label id="pagePositionProS"></label><br />
        <label id="jumlahDataProS" style="margin: 10px;"></label>
        <div id="buttonPageProS"></div>
    </div>
</center>
<br />

@*PopUP*@
<div class="modal fade" id="modalModul" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Tutup</span>
                </button>
                <h5 class="modal-title" id="labelModalKu">Insert Modul</h5>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <p class="statusMsg"></p>
                <form role="form">
                    <table align="center" class="table">
                        <tr>
                            <td>
                                <div class="form-group">
                                    Project Name
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="text" disabled id="ProName" class="form-control" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    Modul Number
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="txtModulNumber" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    Modul Name
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="txtModulName" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    Parent Modul
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    @Html.DropDownList("ModulId", null, htmlAttributes: new { @class = "Form-Control", id = "txtid", onChange = "document.getElementById('dest').value=document.getElementById('txtid').value" })
                                    <input type="hidden" id="dest" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    PIC
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="txtPic" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    Modul Status
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    @Html.DropDownList("ModulStatus", null, htmlAttributes: new { @class = "Form-Control", id = "txtStatus", onChange = "document.getElementById('dst').value=document.getElementById('txtStatus').value" })
                                    <input type="hidden" id="dst" value="1" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    Maydays Estimation
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="text" id="maydays" class="form-control" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    Start Date Actual
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="date" id="startDate" class="form-control" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    End Date Actual
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="date" id="EndDate" class="form-control" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
                <!--button type="submit" class="btn btn-primary submitBtn">Save</!--button>  -->
                <input id="btnSave2" class="btn btn-primary submitBtn" type="button" value="Save Modul" />
            </div>
        </div>
    </div>
</div>

@*PopUP Modul Document*@
<div class="modal fade" id="modalModulDoc" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Tutup</span>
                </button>
                <h5 class="modal-title" id="labelModalKu">Update Modul Document</h5>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <p class="statusMsg"></p>
                <form role="form">
                    <table align="center" class="table">
                        <input  type="hidden" id="idd"/>
                        <tr>
                            <td>
                                <div class="form-group">
                                    Document Type
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    @Html.DropDownList("DocTypeId", null, htmlAttributes: new { @class = "Form-Control", id = "tid", onChange = "document.getElementById('dc').value=document.getElementById('tid').value" })
                                    <input type="hidden" id="dc" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    Document Name
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="txtDocName" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    File
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="file" class="form-control" id="txtFile" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    Version
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="txtVer" />
                                </div>
                            </td>
                        </tr>

                    </table>
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
                <!--button type="submit" class="btn btn-primary submitBtn">Save</!--button>  -->
                <input onclick="UpdateDoc()" class="btn btn-primary submitBtn" type="button" value="Save" />
            </div>
        </div>
    </div>
</div>


@*PopUpp*@
<div class="modal fade" id="modalFormEditRD" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Tutup</span>
                </button>
                <h4 class="modal-title" id="labelModalKu">Input/Edit Requirement Document</h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <p class="statusMsg"></p>
                <form role="form">
                    <table class="table-condensed">
                        <tr>
                            <td>Document Type</td>
                            <td>:</td>
                            <td>
                                @Html.DropDownList("DocTypeId", null, htmlAttributes: new { @class = "form-control", id = "txtTypeId", onChange = "document.getElementById('hdnEDocTypeId').value=document.getElementById('txtTypeId').value" })
                                <input type="hidden" id="hdnEDocTypeId" class="form-control" />
                                <input type="hidden" id="hdnERequimentId" />
                                <input type="hidden" id="hdnEDocId" />
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Document Name</td>
                            <td>:</td>
                            <td>
                                <input class="form-control" type="text" id="txtEDocName" />
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>File</td>
                            <td>:</td>
                            <td><input class="form-control" type="file" id="txtEFile" /></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Version</td>
                            <td>:</td>
                            <td><input class="form-control" type="text" id="txtEVersion" /></td>
                           
                        </tr>

                    </table>
                </form>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
                <input id="btnEditRD" class="btn btn-primary submitBtn" type="button" value="Save" />
            </div>
        </div>
    </div>
</div>


@*PopUpDependencies*@
<div class="modal fade" id="modalFormDep" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Tutup</span>
                </button>
                <h4 class="modal-title" id="labelModalKu">Modul Dependency</h4>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <p class="statusMsg"></p>
                <form role="form">
                    <table align="center">
                        <input id="DependencyId" type="hidden" />
                        <input id="ModId" type="hidden" />
                        <tr>
                            <td>
                                Modul Number
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="hidden" id="moddepid" />
                                    @Html.Editor("ModulNumber", new { htmlAttributes = new { @class = "form-control", id = "ModulNumber", @disabled = "disabled" } })
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Modul Name
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    @Html.Editor("ModulName", new { htmlAttributes = new { @class = "form-control", id = "ModulName", @disabled = "disabled" } })
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Depend to Modul
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    @Html.DropDownList("ListModul", null, htmlAttributes: new { @class = "Form-Control", id = "DependToModul" })
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <input id="btnSav" class="btn btn-primary submitBtn" type="button" value="Save" />
            </div>
        </div>
    </div>
</div>

@*PopUpProject Document*@
<div class="modal fade" id="modalFormPro" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Tutup</span>
                </button>
                <h4 class="modal-title" id="labelModalKu">Project Document</h4>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <p class="statusMsg"></p>
                <form role="form">
                    <table align="center">
                        <input id="DocId" type="hidden" />
                        <tr>
                            <td>
                                Document Type
                            </td>
                            <td>:</td>
                            <td>
                                <div>
                                    @Html.DropDownList("DocTypeId", null, htmlAttributes: new { @class = "Form-Control", id = "txtid", onChange = "document.getElementById('doc').value=document.getElementById('txtid').value" })
                                    <input type="hidden" id="doc" />
                                    <input type="hidden" id="projectId"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Document Name
                            </td>
                            <td>:</td>
                            <td>
                                <div>
                                    @Html.Editor("DocName", new { htmlAttributes = new { @class = "form-control", id = "DocName" } })
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                File
                            </td>
                            <td>:</td>
                            <td><input class="form-control" type="file" id="txFile" /></td>
                        </tr>
                        <tr>
                            <td>Version</td>
                            <td>:</td>
                            <td><input class="form-control" type="text" id="txVersion" /></td>

                        </tr>
                    </table>
                </form>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <input id="btnSavePro" class="btn btn-primary submitBtn" type="button" value="Save" />
            </div>
        </div>
    </div>
</div>

@*PopUp Add Project Document*@
<div class="modal fade" id="modalFormProAdd" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Tutup</span>
                </button>
                <h4 class="modal-title" id="labelModalKu">Project Document</h4>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <p class="statusMsg"></p>
                <form role="form">
                    <table align="center">
                        
                        <tr>
                            <td>
                                Document Type
                            </td>
                            <td>:</td>
                            <td>
                                <div>
                                    @Html.DropDownList("DocTypeId", null, htmlAttributes: new { @class = "Form-Control", id = "txtd", onChange = "document.getElementById('docIddd').value=document.getElementById('txtd').value" })
                                    <input type="hidden" id="docIddd" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Document Name
                            </td>
                            <td>:</td>
                            <td>
                                <div>
                                    @Html.Editor("DocName", new { htmlAttributes = new { @class = "form-control", id = "DocNama" } })
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                File
                            </td>
                            <td>:</td>
                            <td><input class="form-control" type="file" id="txFiles" /></td>
                        </tr>
                        <tr>
                            <td>Version</td>
                            <td>:</td>
                            <td><input class="form-control" type="text" id="txVersions" /></td>

                        </tr>
                    </table>
                </form>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <input id="btnSaveProAdd" class="btn btn-primary submitBtn" type="button" value="Save" />
            </div>
        </div>
    </div>
</div>