﻿@*
    Author             : Wawan Setiawan
    Created date       : Rabu, 21/11/2018
    Modified by        : Jum'at, 23/11/2018
    Date modified      :
    Additional         :
*@
@{
    ViewBag.Title = "Index";
}
<style>
    .red_border {
        border: 1px solid #e46262;
    }

    .LoadingDiv {
        top: 0;
        left: 0;
        position: fixed;
        opacity: 0.97;
        z-index: 10000000;
        background: Black;
        height: 100%;
        width: 100%;
        margin: auto;
    }

    .dataTables_filter {
        float: right;
    }
</style>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script>
    //Load Data in Table when documents is ready
    $(document).ready(function () {
        loadData();
    });
    //Load Data function

    function loadData(p) {
        if (p == null) {
            p = 1;
        }
        $.ajax({
            url: "/Project/ListDataProject?page=" + p,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';
                var btn = '';
                var c = 0;
                var ctr = 0;
                $.each(result, function (key, item) {
                    html += '<tr>';
                    html += '<td>' + item.ProjectName + '</td>';
                    html += '<td>' + item.ClientName + '</td>';
                    html += '<td>' + item.Description + '</td>';
                    html += '<td>' + item.PIC + '</td>';
                    html += '<td>' + item.ProjectStatusName + '</td>';
                    html += '<td>' +
                                            'Start Date Plan :  ' + item.StartDatePlanStr + '</br>' +
                                            'End Date Plan :  ' + item.EndDatePlanStr + '</br>' +
                                            'Start Date Actual :  ' + item.StartDateActualStr + '</br>' +
                                            'End Date Actual :  ' + item.EndDateActualStr + '</br>' +
                                         '</td>';
                    html += '<td><a href="/Project/Edit/' + item.ProjectId + '"><button class="btn btn-warning">Edit</button></a></td>';
                    html += '</tr>';
                    c = item.Length;
                    ctr++;
                });
                $('.tbody').html(html);
                var t = 1;
                for (var i = 0; i < c; i += 10) {
                    btn += '<button onclick="return loadData(' + t + ')" class="btn btn-info" >' + t + '</button>';
                    t++;
                }
                $('#buttonPage').html(btn);
                $('#pagePosition').html('Anda berada di halaman : ' + p + ' dari ' + (t - 1));
                $('#jumlahData').html('Jumlah Data : ' + ctr + ' dari ' + c);
            }
        });
    }

    function Search() {
        var valueSearch = {
            ProjectName: $('#ProjectName').val(),
            FromDatePlan: $('#FromDatePlan').val(),
            ToDatePlan: $('#ToDatePlan').val(),
            EndFromDatePlan: $('#EndFromDatePlan').val(),
            EndToDatePlan: $('#EndToDatePlan').val(),
            ProjectStatusId: $('#ProjectStatusId').val(),
            ProjectName: $('#ProjectName').val(),
            ClientId: $('#ClientId').val(),
            FromDateActual: $('#FromDateActual').val(),
            ToDateActual: $('#ToDateActual').val(),
            PIC: $('#PIC').val(),
            EndFromDateActual: $('#EndFromDateActual').val(),
            EndToDateActual: $('#EndToDateActual').val()

        };
        $.ajax({
            url: "/Project/Search",
            data: JSON.stringify(valueSearch),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';
                var btn = '';
                var c = 0;
                var ctr = 0;
                $.each(result, function (key, item) {
                    html += '<tr>';
                    html += '<td>' + item.ProjectName + '</td>';
                    html += '<td>' + item.ClientName + '</td>';
                    html += '<td>' + item.Description + '</td>';
                    html += '<td>' + item.PIC + '</td>';
                    html += '<td>' + item.ProjectStatusName + '</td>';
                    html += '<td>' +
                                            'Start Date Plan____:  ' + item.StartDatePlanStr + '</br>' +
                                            'End Date Plan______:  ' + item.EndDatePlanStr + '</br>' +
                                            'Start Date Actual__:  ' + item.StartDateActualStr + '</br>' +
                                            'End Date Actual____:  ' + item.EndDateActualStr + '</br>' +
                                         '</td>';
                    html += '<td><button onclick="return edit(' + item.ProjectId + ')" class="btn btn-warning" >Edit</button></td>';
                    html += '</tr>';
                    ctr++;
                });
                $('.tbody').html(html);
                $('#buttonPage').html('');
                $('#pagePosition').html('');
                $('#jumlahData').html('');
                $('.tbody').html(html);
                $('#ProjectName').val('');
                $('#FromDatePlan').val('');
                $('#ToDatePlan').val('');
                $('#EndFromDatePlan').val('');
                $('#EndToDatePlan').val('');
                $('#ProjectStatusId').val('');
                $('#ProjectName').val('');
                $('#ClientId').val('');
                $('#FromDateActual').val('');
                $('#ToDateActual').val('');
                $('#PIC').val('');
                $('#EndFromDateActual').val('');
                $('#EndToDateActual').val('');
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }



    function GetById(ProjectId) {
        alert('id maneh : Project/GetById?ProjectId=' + ProjectId);
        $.ajax({
            url: "/Project/Edit",
            type: "GET",
            contentType: "application/json;charset=UTF-8",
            error: function (errormessage) {

            }
        });
        return false;
    }
    $(document).ready(function () {

        function CheckRequiredFields() {
            var isValid = true;
            $('.required').each(function () {
                if ($.trim($(this).val()) == '') {
                    isValid = false;
                    $(this).addClass('red_border');


                }
                else {
                    $(this).removeClass('red_border');

                }
            });
            return isValid;
        }

        $("#btnSave2").click(function () {
            alert("Masuk");
            var txtProjectName = $("#txtProjectName").val();
            var txtStartDatePlan = $("#txtStartDatePlan").val();
            var txtDescription = $("#txtDescription").val();
            var txtEndDatePlan = $("#txtEndDatePlan").val();
            var clien = $("#clien").val();
            var txtStartDateActual = $("#txtStartDateActual").val();
            var txtEndDateAct = $("#txtEndDateAct").val();
            var txtPic = $("#txtPic").val();
            var status = $("#status").val();
            var txtMadaysEstimation = $("#txtMadaysEstimation").val();
            var txtMandaysEstCall = $("#txtMandaysEstCall").val();
            var CreationBy = $("#txtCreateBy").val();
            var CreationDate = $("#CreationDate").val();
            var txtModifiedBy = $("#txtModifiedBy").val();
            var txtModifiedDate = $("#txtModifiedDate").val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveProject", "PopUp")',

                data: JSON.stringify({
                    "txtProjectName": txtProjectName,
                    "txtStartDatePlan": txtStartDatePlan
                    , "txtDescription": txtDescription,
                    "txtEndDatePlan": txtEndDatePlan,
                    "clien": clien,
                    "txtStartDateActual": txtStartDateActual
                    , "txtEndDateAct": txtEndDateAct,
                    "txtPic": txtPic,
                    "status": status
                    , "txtMadaysEstimation": txtMadaysEstimation
                    , "txtMandaysEstCall": txtMandaysEstCall,
                    "CreationBy": CreationBy
                    , "CreationDate": CreationDate,
                    "txtModifiedBy": txtModifiedBy,
                    "txtModifiedDate": txtModifiedDate
                }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    if (r.Status == "True") {
                        toastr.success(r.Message);
                        clear();
                    }
                    else {
                        toastr.success(r.Message);
                        clear();
                    }

                }
            });
        });

        function clear() {
            $("#txtProjectName").val("");
            $("#txtStartDatePlan").val("");
            $("#txtDescription").val("");
            $("#txtEndDatePlan").val("");
            $("#clien").val("");
            $("#txtStartDateActual").val("");
            $("#txtEndDateAct").val("");
            $("#txtPic").val("");
            $("#status").val("");
            $("#txtMadaysEstimation").val("");
            $("#txtMandaysEstCall").val("");
            $("#txtCreateBy").val("");
            $("#CreationDate").val("");
            $("#txtModifiedBy").val("");
            $("#txtModifiedDate").val("");
        }


    });
</script>

<script type="text/javascript">
    function parseValue(source, dest) {
        var sourceVar = document.getElementById(source);
        var destVar = document.getElementById(dest);
        destVar.value = sourceVar.value;
    }
</script>
<br/>
<br/>
<div style="border:solid;">
    <h2>&nbsp;&nbsp;Search Form</h2>
    <form>
        <table class="table" width="97%">
            <tr>
                <td>Project Name</td>
                <td>:</td>
                <td>
                    <input type="text" id="ProjectName" class="form-control" />
                </td>
                <td>Start Date Plan</td>
                <td>:</td>
                <td>from</td>
                <td>
                    <input type="date" id="FromDatePlan" class="form-control" />
                </td>
                <td>to</td>
                <td>

                    <input type="date" id="ToDatePlan" class="form-control" />

                </td>
            </tr>
            <tr>
                <td>Client Name</td>
                <td>:</td>
                <td>
                    @Html.DropDownList("ClientId", null, htmlAttributes: new { @class = "form-control", id = "clientIdAwal", onChange = "parseValue('clientIdAwal','ClientId')" })
                    <input type="hidden" id="ClientId" class="form-control" />
                </td>
                <td>End Date Plan</td>
                <td>:</td>
                <td>from</td>
                <td>
                    <input type="date" id="EndFromDatePlan" class="form-control" />
                </td>
                <td>to</td>
                <td>
                    <input type="date" id="EndToDatePlan" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>Project Status</td>
                <td>:</td>
                <td>
                    @Html.DropDownList("ProjectStatusId", null, htmlAttributes: new { @class = "form-control", id = "projectStatusIdAwal", onChange = "parseValue('projectStatusIdAwal','ProjectStatusId')" })
                    <input type="hidden" id="ProjectStatusId" class="form-control" />
                </td>
                <td>Start Date Actual</td>
                <td>:</td>
                <td>from</td>
                <td>

                    <input type="date" id="FromDateActual" class="form-control" />
                </td>
                <td>to</td>
                <td>

                    <input type="date" id="ToDateActual" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>PIC</td>
                <td>:</td>
                <td>
                    <input type="text" id="PIC" class="form-control" />
                </td>
                <td>End Date Actual</td>
                <td>:</td>
                <td>from</td>
                <td>

                    <input type="date" id="EndFromDateActual" class="form-control" />
                </td>
                <td>to</td>
                <td>

                    <input type="date" id="EndToDateActual" class="form-control" />
                </td>
            </tr>
            <tr>
                <td colspan="9" align="right">
                    <input type="button" onclick="Search()" value="Search" class="btn btn-primary" />
                </td>
            </tr>

        </table>
    </form>
</div>
<div id="dvLoader" class="LoadingDiv" style="display: none;">
    <table style="height: 100%; margin: auto;">
        <tr>
            <td style="vertical-align: middle;">
                <center>
                    <img src="http://www.girlsgotit.org/images/form-loader.gif" alt="Loading" />
                </center>
            </td>
        </tr>
    </table>
</div>
<div class="modal fade" id="modalForm" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Tutup</span>
                </button>
                <h4 class="modal-title" id="labelModalKu">Input Project</h4>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <p class="statusMsg"></p>
                <form role="form">
                    <table align="center">
                        <tr>
                            <td>
                                Project Name
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="text" id="txtProjectName" class="form-control" />
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    Start Date Plan
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="date" id="txtStartDatePlan" class="form-control" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    Description
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="text" id="txtDescription" class="form-control" />
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    End Date Plan
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="date" id="txtEndDatePlan" class="form-control" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    Client
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">

                                    @Html.DropDownList("ClientId", null, htmlAttributes: new { @class = "form-control", id = "clien" })

                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    Start Date Actual
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="date" id="txtStartDateActual" class="form-control" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    PIC
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="text" id="txtPic" class="form-control" />
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    End Date Actual
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="date" id="txtEndDateAct" value="" class="form-control" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    Project Status
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <select id="status" class="form-control">
                                        <option value="1">Desc 1</option>
                                        <option value="2">Desc 2</option>
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    Mandays Estimation
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="text" id="txtMadaysEstimation" class="form-control" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    Creation BY
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="text" id="txtCreateBy" class="form-control" />
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    MAndays Estimation Call
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="text" id="txtMandaysEstCall" class="form-control" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    Creation Date
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="date" id="CreationDate" class="form-control" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    Modified By
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="text" id="txtModifiedBy" class="form-control" />
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    Modified Date
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="date" id="txtModifiedDate" class="form-control" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
                <input id="btnSave2" class="btn btn-primary submitBtn" type="button" value="Save" />
            </div>
        </div>
    </div>
</div>
<hr />
<div>
    <table width="100%">
        <tr>
            <td align="left"><h2>Project List</h2></td>
            <td align="right">
                <button class="btn btn-success btn-lg" data-toggle="modal" data-target="#modalForm">Add</button>
            </td>
        </tr>
    </table>

    <table class="table table-striped table-bordered table-sm">

        <thead>
            <tr>
                <th>
                    Project Name
                </th>
                <th>
                    Client Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    PIC
                </th>
                <th>
                    Project Status
                </th>
                <th>
                    Schedule Details
                </th>
                <th colspan="2">
                    Action
                </th>
            </tr>
        </thead>
        <tbody class="tbody"></tbody>

    </table>

    <center>
        <div>
            <label id="pagePosition"></label><br />
            <label id="jumlahData" style="margin: 10px;"></label>
            <div id="buttonPage"></div>
        </div>
    </center>
</div>