﻿<!DOCTYPE html>
<html>
<head>
    <style>
        
    body{
           margin-left:25%;
           padding-left:10%;
           height:1000px;
           /*background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));*/
    }
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: #222222;
    position: fixed;
    height: 100%;
    overflow: auto;
    }

    li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    color:white;
    }

    li a.active {
    background-color: #4CAF50;
    color: white;
    }

    li a:hover:not(.active) {
    background-color: #555;
    color: white;
    }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <h2 style="padding-left:15%">@Html.ActionLink("79 Project Management", "Index", "Home")</h2>
        <div>
            <div class="navbar-header">
                <ul><li style="color:white;">&nbsp;&nbsp;&nbsp;&nbsp;Menu Aplikasi<br /><br/></li>
                    <li>@Html.ActionLink("Master", "Index", "Home")</li>
                    <li>@Html.ActionLink("Clients", "Index", "MasterClient")</li>
                    <li>@Html.ActionLink("Project", "Index", "Project")</li>
                </ul>
            </div>
            
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
