﻿@*
    Author             : Sahdan Hidayatul Muzaki
    Created date       : Jum'at, 23/11/2018
    Modified by        :
    Date modified      :
    Additional         :
*@

@model ProjectManagement.Entities.Project


@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />


    <!-- jQuery library -->
    <script src="code.jquery.com/jquery-1.12.4.js"></script>


    <!-- add thids links for the error message-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/1.3.1/css/toastr.css" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/1.3.1/js/toastr.js"></script>



    <script>
        $(document).ready(function () {
        //________________________________________________________________

            $("#btnSave2").click(function () {
                var today = new Date();

                var day = today.getDate();
                var month = today.getMonth() + 1;
                var year = today.getFullYear();

                var strDate = year+"-"+month+"-"+day;

                var ProjectId = 8;
                var Version = $("#txtVersion").val();
                var StartDate = $("#txtStartDate").val();
                var EndDate = $("#txtEndDate").val();
                var CreatedDate = strDate;
                var CreatedBy = "Za-Q";

                //if (CheckRequiredFields()) {

                $('#dvLoader').show();
                $.ajax({
                    url: '@Url.Action("SaveProjectSchedule", "PopUp")',
                    type: 'POST',
                    data: JSON.stringify({ "ProjectId": ProjectId, "Version": Version, "StartDate": StartDate, "EndDate": EndDate, "CreatedDate": CreatedDate, "CreatedBy": CreatedBy }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        $('#dvLoader').hide();

                        if (result.Status == "True") {
                            toastr.success(result.Message);
                            clear();
                            //display();
                        }
                        else {
                            toastr.success(result.Message);
                            clear();
                            //display();

                        }
                    }
                });

                //}

            });

            $("#btnCancel").click(function () {
                clear();
            });

    });

        function CheckRequiredFields() {
            var isValid = true;
            $('.required').each(function () {
                if ($.trim($(this).val()) == '') {
                    isValid = false;
                    $(this).addClass('red_border');


                }
                else {
                    $(this).removeClass('red_border');

                }
            });
            return isValid;
        }

        function checkemail(valemail) {
            var forgetfilter = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            if (forgetfilter.test(valemail)) {
                return true;
            }
            else {
                return false;
            }
        }
        function clear() {
            $("#txtVersion").val("");
            $("#txtStartDate").val("");
            $("#txtEndDate").val("");
            //$("#txtEmail").val("");
            //$('#btnSave').val("Save Client");
            //$("#hdnPID").val(0);
        }

        function isNumberKey(evt) {
            var charcode = (evt.which) ? evt.which : evt.keycode
            if (charcode > 31 && (charcode < 48 || charcode > 58)
                && evt.keyCode != 35 && evt.keyCode != 36 && evt.keyCode != 37
                && evt.keyCode != 38 && evt.keyCode != 39 && evt.keyCode != 40
                && evt.keyCode != 46) {
                return false;
            }
            else {
                return true;
            }
        }
    </script>
</head>
<body>
    <div id="dvLoader" class="LoadingDiv" style="display: none;">
        <table style="height: 100%; margin: auto;">
            <tr>
                <td style="vertical-align: middle;">
                    <center>
                        <img src="http://www.girlsgotit.org/images/form-loader.gif" alt="Loading" />
                    </center>
                </td>
            </tr>
        </table>
    </div>


    <!--
        <button class="btn btn-success btn-lg" data-toggle="modal" data-target="#modalForm">
            Create New Project Schedule
        </button>
    -->
    <!-- Modal -->
    <div class="modal fade" id="modalForm222" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Tutup</span>
                    </button>
                    <h4 class="modal-title" id="labelModalKu">Insert Project Schedule</h4>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <p class="statusMsg"></p>
                    <form role="form">
                        <div class="form-group">
                            <label for="">Project Name</label>
                            <input type="text" class="form-control" id="txtProjectName" placeholder="(Nama Project)" value="@Html.DisplayFor(model => model.ProjectName)" />
                        </div>
                        <div class="form-group">
                            <label for="">Version</label>
                            <input type="text" class="form-control" id="txtVersion" placeholder="Masukkan Version" />
                        </div>
                        <div class="form-group">
                            <label for="">Start Date</label>
                            <input type="date" class="form-control" id="txtStartDate" placeholder="Masukkan Start Date" />
                        </div>
                        <div class="form-group">
                            <label for="">End Date</label>
                            <input type="date" class="form-control" id="txtEndDate" placeholder="Masukkan End Date" />
                        </div>
                    </form>
                </div>
                <input id="txtNamaFromDb" type="hidden" value="" />
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
                    <!--button type="submit" class="btn btn-primary submitBtn">Save</!--button>  -->
                    <input id="btnSave2" class="btn btn-primary submitBtn" type="button" value="Save Schedule Project" />
                </div>
            </div>
        </div>
    </div>
</body>
</html>
