﻿@model IEnumerable<ProjectManagement.Entities.Project>
@{
    ViewBag.Title = "PopUpAddModul";
}
@*
    //Author             : Nispi A A
    //Created date       : Senin, 26/11/2018
    //Modified by        : Nispi A A
    //Date modified      : Selasa, 27/11/2018
    //Additional         : Menambah input mandays, startdateActual dan End Date Actual
*@
<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- jQuery library -->
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>


    <!-- add thids links for the error message-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/1.3.1/css/toastr.css" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/1.3.1/js/toastr.js"></script>




    <script>
        $(document).ready(function () {
        //________________________________________________________________

            $("#btnSave2").click(function () {

                var ModulNumber = $("#txtModulNumber").val();
                var ModulName = $("#txtModulName").val();
                var ModulParent = $("#dest").val();
                var ModulPic= $("#txtPic").val();
                var ModulStatus = $("#dst").val();
                var maydays = $("#maydays").val();
                var startDate = $("#startDate").val();
                var EndDate = $("#EndDate").val();
                var project = 1;

                //if (CheckRequiredFields()) {

                //$('#dvLoader').show();
                alert("Masuk");
                $('#dvLoader').show();
                $.ajax({
                    url: '@Url.Action("SaveModul", "PopUp")',
                    type: 'POST',
                    data: JSON.stringify({
                        "project": project,
                        "ModulName": ModulName,
                        "ModulNumber": ModulNumber,
                        "ModulParent": ModulParent,
                        "ModulPic": ModulPic,
                        "ModulStatus": ModulStatus
                    }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        $('#dvLoader').hide();

                        if (result.Status == "True") {
                            toastr.success(result.Message);
                            clear();
                            //display();
                        }
                        else {
                            toastr.success(result.Message);
                            clear();
                            //display();

                        }
                    }
                });

                //}

            });

            $("#btnCancel").click(function () {
                clear();
            });

    });

        function CheckRequiredFields() {
            var isValid = true;
            $('.required').each(function () {
                if ($.trim($(this).val()) == '') {
                    isValid = false;
                    $(this).addClass('red_border');


                }
                else {
                    $(this).removeClass('red_border');

                }
            });
            return isValid;
        }
        function clear() {
            $("#txtModulNumber").val("");
            $("#txtModulName").val("");
            $("#txtid").val("");
            $("#txtPic").val("");
            $("#txtStatus").val("");
        }


    </script>


    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>



<h2>PopUpAddModul</h2>



<style>
    .red_border {
        border: 1px solid #e46262;
    }

    .LoadingDiv {
        top: 0;
        left: 0;
        position: fixed;
        opacity: 0.97;
        z-index: 10000000;
        background: Black;
        height: 100%;
        width: 100%;
        margin: auto;
    }

    .dataTables_filter {
        float: right;
    }
</style>
@*____________________________________________________________________________________________*@
<div id="dvLoader" class="LoadingDiv" style="display: none;">
    <table style="height: 100%; margin: auto;">
        <tr>
            <td style="vertical-align: middle;">
                <center>
                    <img src="http://www.girlsgotit.org/images/form-loader.gif" alt="Loading" />
                </center>
            </td>
        </tr>
    </table>
</div>

@*-----POP UP----*@
<button class="btn btn-success btn-lg" data-toggle="modal" data-target="#modalForm">
    Create New Modul
</button>

<div class="modal fade" id="modalForm" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Tutup</span>
                </button>
                <h4 class="modal-title" id="labelModalKu">Insert Modul</h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <p class="statusMsg"></p>
                <form role="form">
                    <table align="center" class="table">
                        <tr>
                            <td>
                                <div class="form-group">
                                    Project Name
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="form-group">
                                    @*@Html.HiddenFor(model => model.ProjectId, ViewBag.CurrentFilter as string)
                                    @Html.DisplayFor(model => model.ProjectName, ViewBag.CurrentFilter as string)*@
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    Modul Number
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="txtModulNumber" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    Modul Name
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="txtModulName" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    Parent Modul
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    @Html.DropDownList("ModulId", null, htmlAttributes: new { @class = "Form-Control", id = "txtid", onChange = "document.getElementById('dest').value=document.getElementById('txtid').value" })
                                    <input type="hidden" id="dest" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    PIC
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="txtPic" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    Modul Status
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    @Html.DropDownList("ModulStatus", null, htmlAttributes: new { @class = "Form-Control", id = "txtStatus", onChange = "document.getElementById('dst').value=document.getElementById('txtStatus').value" })
                                    <input type="hidden" id="dst" value="1" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    Maydays Estimation
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="form-group">
                                    <input type="text" id="maydays" class="form-control" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    Start Date Actual 
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="form-group">
                                    <input type="date" id="startDate" class="form-control" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    End Date Actual
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="form-group">
                                    <input type="date" id="EndDate" class="form-control" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
                <!--button type="submit" class="btn btn-primary submitBtn">Save</!--button>  -->
                <input id="btnSave2" class="btn btn-primary submitBtn" type="button" value="Save Project" />
            </div>
        </div>
    </div>
</div>


