﻿@{
    Layout = null;
}
@*
    //Author             : Nispi A A
    //Created date       : Senin, 26/11/2018
    //Modified by        : 
    //Date modified      : 
    //Additional         : 
*@

<style>
    .red_border {
        border: 1px solid #e46262;
    }

    .LoadingDiv {
        top: 0;
        left: 0;
        position: fixed;
        opacity: 0.97;
        z-index: 10000000;
        background: Black;
        height: 100%;
        width: 100%;
        margin: auto;
    }

    .dataTables_filter {
        float: right;
    }
</style>

<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- jQuery library -->
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>


    <!-- add thids links for the error message-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/1.3.1/css/toastr.css" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/1.3.1/js/toastr.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            function CheckRequiredFields() {
                var isValid = true;
                $('.required').each(function () {
                    if ($.trim($(this).val()) == '') {
                        isValid = false;
                        $(this).addClass('red_border');
                    }
                    else {
                        $(this).removeClass('red_border');

                    }
                });
                return isValid;
            }
            $("#btnSave2").click(function () {
                alert("Masuk");
                var txtProjectName = $("#txtProjectName").val();
                var txtStartDatePlan = $("#txtStartDatePlan").val();
                var txtDescription = $("#txtDescription").val();
                var txtEndDatePlan = $("#txtEndDatePlan").val();
                var clien = $("#clien").val();
                var txtStartDateActual = $("#txtStartDateActual").val();
                var txtEndDateAct = $("#txtEndDateAct").val();
                var txtPic = $("#txtPic").val();
                var status = $("#status").val();
                var txtMadaysEstimation = $("#txtMadaysEstimation").val();
                var txtMandaysEstCall = $("#txtMandaysEstCall").val();
                var CreationBy = $("#txtCreateBy").val();
                var CreationDate = $("#CreationDate").val();
                var txtModifiedBy = $("#txtModifiedBy").val();
                var txtModifiedDate = $("#txtModifiedDate").val();


                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SaveProject", "PopUp")',

                    data: JSON.stringify({
                        "txtProjectName": txtProjectName,
                        "txtStartDatePlan": txtStartDatePlan
                        , "txtDescription": txtDescription,
                        "txtEndDatePlan": txtEndDatePlan,
                        "clien":clien,
                        "txtStartDateActual": txtStartDateActual
                        , "txtEndDateAct": txtEndDateAct,
                        "txtPic": txtPic,
                        "status": status
                        , "txtMadaysEstimation": txtMadaysEstimation
                        , "txtMandaysEstCall": txtMandaysEstCall,
                        "CreationBy": CreationBy
                        , "CreationDate": CreationDate,
                        "txtModifiedBy": txtModifiedBy,
                        "txtModifiedDate": txtModifiedDate
                    }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (r) {
                        if (r.Status == "True") {
                            toastr.success(r.Message);
                            clear();
                            //display();
                            //$('#ProjectModal').hide();
                        }
                        else {
                            toastr.success(r.Message);
                            clear();
                            //display();
                            //$('#ProjectModal').hide();
                        }

                    }
                });
            });
            function clear() {
                $("#txtProjectName").val("");
                $("#txtStartDatePlan").val("");
                $("#txtDescription").val("");
                $("#txtEndDatePlan").val("");
                $("#clien").val("");
                $("#txtStartDateActual").val("");
                $("#txtEndDateAct").val("");
                $("#txtPic").val("");
                $("#status").val("");
                $("#txtMadaysEstimation").val("");
                $("#txtMandaysEstCall").val("");
                $("#txtCreateBy").val("");
                $("#CreationDate").val("");
                $("#txtModifiedBy").val("");
                $("#txtModifiedDate").val("");
            }


        });
    </script>


    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>

<div id="dvLoader" class="LoadingDiv" style="display: none;">
    <table style="height: 100%; margin: auto;">
        <tr>
            <td style="vertical-align: middle;">
                <center>
                    <img src="http://www.girlsgotit.org/images/form-loader.gif" alt="Loading" />
                </center>
            </td>
        </tr>
    </table>
</div>


<button class="btn btn-success btn-lg" data-toggle="modal" data-target="#modalForm">
    Create New Project
</button>


@*POp Up*@
<div class="modal fade" id="modalForm" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Tutup</span>
                </button>
                <h4 class="modal-title" id="labelModalKu">Insert Project</h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <p class="statusMsg"></p>
                <form role="form">
                    <table align="center">

                        <tr>
                            <td>
                                Project Name
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="text" id="txtProjectName" class="form-control" />
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    Start Date Plan
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="date" id="txtStartDatePlan" class="form-control" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    Description
                                </div>

                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="text" id="txtDescription" class="form-control" />
                                </div>
                            </td>

                            <td>

                                <div class="form-group">
                                    End Date Plan
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="date" id="txtEndDatePlan" class="form-control" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>

                                <div class="form-group">
                                    Client
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    
                                        @Html.DropDownList("ClientId", null, htmlAttributes: new { @class = "Form-Control", id="clien" })
                                    
                                </div>
                            </td>
                            <td>

                                <div class="form-group">
                                    Start Date Actual
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="date" id="txtStartDateActual" class="form-control" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    PIC
                                </div>

                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="text" id="txtPic" class="form-control" />
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    End Date Actual
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="date" id="txtEndDateAct" value="" class="form-control" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>

                                <div class="form-group">
                                    Project Status
                                </div>

                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <select id="status" class="form-control">
                                        <option value="1">Desc 1</option>
                                        <option value="2">Desc 2</option>
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    Mandays Estimation
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="text" id="txtMadaysEstimation" class="form-control" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    Creation BY
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="text" id="txtCreateBy" class="form-control" />
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    MAndays Estimation Call
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="text" id="txtMandaysEstCall" class="form-control" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    Creation Date
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="date" id="CreationDate" class="form-control" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    Modified By
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="text" id="txtModifiedBy" class="form-control" />
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    Modified Date
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="date" id="txtModifiedDate" class="form-control" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
                <!--button type="submit" class="btn btn-primary submitBtn">Save</!--button>  -->
                <input id="btnSave2" class="btn btn-primary submitBtn" type="button" value="Save Project" />
            </div>
        </div>
    </div>
</div>

