﻿@*
    Author             : Topan
    Created date       : 
    Modified by        : Sahdan Hidayatul Muzaki
    Date modified      : Rabu, 05/12/2018
    Additional         : Fixing Insert Pop-Up
*@

@using System.Linq
@using ProjectManagement.Entities

@{
    ViewBag.Title = "PopUpProjectTimeline";
}

@{
    ProjectManagementDBContext db = new ProjectManagementDBContext();
    var projectById = db.Projects.Find(3);

    var projectScheduleById = db.ProjectSchedules.Find(5);
    var modulById = db.Moduls.Find(3);
}

<h2>PopUpProjectTimeline</h2>
<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- jQuery library -->
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>


    <!-- add thids links for the error message-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/1.3.1/css/toastr.css" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/1.3.1/js/toastr.js"></script>




    <script>
       $(document).ready(function () {
        //________________________________________________________________

            $("#btnSave").click(function () {
                var ProjectScheduleId = $("#txtProjectScheduleId").val();
                var ProjectId = $("#txtProjectId").val();
                var ModulId = $("#txtModulId").val();
                var StartDate = $("#txtStartDate").val();
                var EndDate = $("#txtEndDate").val();

                //if (CheckRequiredFields()) {

                $('#dvLoader').show();
                $.ajax({
                    url: '@Url.Action("SaveProjectTimeline", "PopUp")',
                    type: 'POST',
                    data: JSON.stringify({ "ProjectScheduleId": ProjectScheduleId, "ProjectId": ProjectId, "ModulId": ModulId, "StartDate": StartDate, "EndDate": EndDate }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        $('#dvLoader').hide();

                        if (result.Status == "True") {
                            toastr.success(result.Message);
                            clear();
                            //display();
                        }
                        else {
                            toastr.success(result.Message);
                            clear();
                            //display();

                        }
                    }
                });

                //}

            });

            $("#btnCancel").click(function () {
                clear();
            });

    });

        function CheckRequiredFields() {
            var isValid = true;
            $('.required').each(function () {
                if ($.trim($(this).val()) == '') {
                    isValid = false;
                    $(this).addClass('red_border');


                }
                else {
                    $(this).removeClass('red_border');

                }
            });
            return isValid;
        }

        function checkemail(valemail) {
            var forgetfilter = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            if (forgetfilter.test(valemail)) {
                return true;
            }
            else {
                return false;
            }
        }
        function clear() {
            $("#txtVersion").val("");
            $("#txtStartDate").val("");
            $("#txtEndDate").val("");
            //$("#txtEmail").val("");
            //$('#btnSave').val("Save Client");
            //$("#hdnPID").val(0);
        }

        function isNumberKey(evt) {
            var charcode = (evt.which) ? evt.which : evt.keycode
            if (charcode > 31 && (charcode < 48 || charcode > 58)
                && evt.keyCode != 35 && evt.keyCode != 36 && evt.keyCode != 37
                && evt.keyCode != 38 && evt.keyCode != 39 && evt.keyCode != 40
                && evt.keyCode != 46) {
                return false;
            }
            else {
                return true;
            }
        }


        var TeamDetailPostBackURL = '/PopUp/GetProjectByScheduleProject';
        $(function () {
            $(".anchorDetail").click(function () {
                debugger;
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    //url: TeamDetailPostBackURL,
                    //INI MEMANGGIL METHOD DI CONTROLLER
                    url: "/PopUp/GetProjectByScheduleProject",
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        debugger;
                        $('#myModalContent').html(data);
                        $('#modalForm').modal(options);
                        $('#modalForm').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });
            //$("#closebtn").on('click',function(){
            //    $('#modalForm').modal('hide');

            $("#closbtn").click(function () {
                $('#modalForm').modal('hide');
            });
        });
    </script>
</head>

<button class="btn btn-success btn-lg" data-toggle="modal" data-target="#modalProjectTimeline">
    Add
</button>

@*PopUP*@
<div class="modal fade" id="modalProjectTimeline" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Tutup</span>
                </button>
                <h5 class="modal-title" id="labelModalProTime"><b>/Edit Project Timeline</b></h5>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <p class="statusMsg"></p>
                <form role="form">
                    <table align="center" class="table">
                        <tr>
                            <td>
                                <div class="form-group">
                                    Project Name
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="text" disabled id="ProjectName" class="form-control" value="@projectById.ProjectName"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    Modul
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="text" disabled id="ModulName" class="form-control" value="@modulById.ModulName" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    Version
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="text" disabled id="ModulVersion" class="form-control" value="@projectScheduleById.Version" />
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="form-group">
                                    Start Date
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="date" id="txtStartDate" class="form-control" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    End Date
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="date" id="txtEndDate" class="form-control" />
                                </div>
                            </td>
                        </tr>
                    </table>
                    <input id="txtProjectId" type="hidden" value="@projectById.ProjectId" />
                    <input id="txtModulId" type="hidden" value="@modulById.ModulId" />
                    <input id="txtProjectScheduleId" type="hidden" value="@projectScheduleById.ProjectScheduleId" />
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <input id="btnSave" class="btn btn-primary submitBtn" type="button" value="Save" />
            </div>
        </div>
    </div>
</div>