﻿
@{
    ViewBag.Title = "PopUpModulDependency";
}

<h2>PopUpModulDependency</h2>


<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- jQuery library -->
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>


    <!-- add thids links for the error message-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/1.3.1/css/toastr.css" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/1.3.1/js/toastr.js"></script>
    <script>
        $(document).ready(function () {
            $('#ModulNumber').val('@ViewBag.ModulNumber');
            $('#ModulName').val('@ViewBag.ModulName');
            $('#DependencyId').val('@ViewBag.DependencyId');

            $("#btnSave").click(function () {
                var ModulId = @ViewBag.ModulId;
                var DependToModul = $("#DependToModul").val();
                var DependencyId = @ViewBag.DependencyId;
                $.ajax({
                    url: '@Url.Action("SaveModulDependency", "PopUp")',
                    type: "POST",
                    data: JSON.stringify({
                        "DependencyId":DependencyId,
                        "ModulId": ModulId,
                        "DependToModul": DependToModul
                    }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (r) {
                        if (r.Status == "True") {
                            toastr.success(r.Message);
                        }
                        else {
                            toastr.success(r.Message);
                        }
                    }
                });
            });
        });

    </script>


    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>


<button class="btn btn-success btn-lg" data-toggle="modal" data-target="#modalForm">
    Add Modul Dependency
</button>

@*POp Up*@
<div class="modal fade" id="modalForm" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Tutup</span>
                </button>
                <h4 class="modal-title" id="labelModalKu">Modul Dependency</h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <p class="statusMsg"></p>
                <form role="form">
                    <table align="center">
                            <input id="DependencyId" type="hidden" />
                        <tr>
                            <td>
                                Modul Number
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    @Html.Editor("ModulNumber", new { htmlAttributes = new { @class = "form-control", id = "ModulNumber", @disabled = "disabled" } })
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Modul Name
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    @Html.Editor("ModulName", new { htmlAttributes = new { @class = "form-control", id = "ModulName", @disabled = "disabled" } })
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Depend to Modul
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    @Html.DropDownList("ListModul", null, htmlAttributes: new { @class = "Form-Control", id = "DependToModul" })
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <input id="btnSave" class="btn btn-primary submitBtn" type="button" value="Save" />
            </div>
        </div>
    </div>
</div>
