﻿@model ProjectManagement.Entities.ChangeRequest
@{
    ViewBag.Title = "Edit";
}

@*
    Creation By : Roihatul Jannah
    Creation Date : 5 Des 2018     
*@
<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/1.3.1/css/toastr.css" />
<script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/1.3.1/js/toastr.js"></script>

<script type="text/javascript">
    

    $(document).ready(function () {
        var id = @ViewBag.ChangeRequestId;
        loadData(id);
        loadDataChangeReqDoc(id);

        //------------------------------------Edit Change Request-----------------------------------------//

        $("#btnSave").click(function () {

            var ChangeRequestId = id;
            var RequimentId =  $("#hdnRequimentId").val();
            var ChangeRequestNumber = $("#txtCRN").val();
            var ChangeRequestDate = $("#txtCRD").val();
            var Description = $("#txtDesc").val();
            var MandaysEstimation = $("#txtMandays").val();

            $.ajax({
                url: '@Url.Action("EditChangeRequest", "ChangeRequest")',
                type: 'POST',
                data: JSON.stringify({
                    "ChangeRequestId" : ChangeRequestId,
                    "RequimentId" : RequimentId,
                    "ChangeRequestNumber": ChangeRequestNumber,
                    "ChangeRequestDate" : ChangeRequestDate,
                    "Description": Description,
                    "MandaysEstimation": MandaysEstimation }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    if (result.Status == "true") {
                        toastr.success(result.Message);                        
                    }
                    else {
                        toastr.success(result.Message);
                    }
                    //clearEditCR();
                }
            });
            window.location.href = "/Requirment/Edit?id=" + RequimentId;
        });

        //------------------------------------Add Change Request Document-----------------------------------------//

        $("#btnSaveCRD").click(function () {
            var ChangeRequestId=id;
            var DocumentTypeId = $("#hdnDocTypeId").val();
            var DocumentName = $("#txtDocName").val();
            var FilePath = $("#txtFile").val();
            var Version = $("#txtVersion").val();

            $.ajax({
                url: '@Url.Action("SaveChangeRequestDoc", "PopUp")',
                type: 'POST',
                data: JSON.stringify({
                    "ChangeRequestId" : ChangeRequestId,
                    "DocumentTypeId" : DocumentTypeId,
                    "DocumentName":DocumentName,
                    "FilePath":FilePath,
                    "Version":Version }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    if (result.Status == "true") {
                        toastr.success(result.Message);
                    }
                    else {
                        toastr.success(result.Message);
                    }
                    //clearPopCRD();
                }
            });
            window.location.href = "/ChangeRequest/Edit?id=" + ChangeRequestId;
        });

        //------------------------------------Edit Change Request Document-----------------------------------------//

          $("#btnEditCRD").click(function () {
                var DocumentId = $("#hdnEDocId").val();
                var ChangeRequestId= $("#hdnECRId").val();
                var DocumentTypeId = $("#hdnEDocTypeId").val();
                var DocumentName = $("#txtEDocName").val();
                var FilePath = $("#txtEFile").val();
                var Version = $("#txtEVersion").val();

                $.ajax({
                    url: '@Url.Action("EditChangeRequestDoc", "ChangeRequest")',
                    type: 'POST',
                    data: JSON.stringify({
                        "DocumentId" : DocumentId,
                        "ChangeRequestId" : ChangeRequestId,
                        "DocumentTypeId" : DocumentTypeId,
                        "DocumentName":DocumentName,
                        "FilePath":FilePath,
                        "Version":Version }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        if (result.Status == "true") {
                            
                            toastr.success(result.Message);
                        }
                        else {
                            toastr.success(result.Message);
                        }
                        clearPopEditCRD();
                    }
                });
              window.location.href = "/ChangeRequest/Edit?id=" + ChangeRequestId;
            });

    });

    function clearEditCR() {
        var p = document.getElementById("lblProName");
        var q = document.getElementById("lblModul");
        var r = document.getElementById("lblReNumb");
        p.innerHTML = "";
        q.innerHTML = "";
        r.innerHTML = "";
        $("#hdnRequimentId").val("");
        $("#txtCRN").val("");
        $("#txtCRD").val("");
        $("#txtMandays").val("");
        $("#txtDesc").val("");
    }

    function clearPopCRD(){
        $("#hdnDocTypeId").val("");
        $("#txtDocName").val("");
        $("#txtFile").val("");
        $("#txtVersion").val("");
    }
    function clearPopEditCRD(){
        $("#hdnEDocTypeId").val("");
        $("#txtEDocName").val("");
        $("#txtEFile").val("");
        $("#txtEVersion").val("");
    }

    //------------------------------------Tampil Change Request di Textbox-----------------------------------------//

    function loadData(id) {
        $.ajax({
            url: "/ChangeRequest/GetDataById?id=" + id,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var p = document.getElementById('lblProName');
                var q = document.getElementById('lblModul');
                var r = document.getElementById('lblReNumb');
                p.innerHTML=result.ProjectName;
                q.innerHTML=result.ModulName;
                r.innerHTML=result.reqnumber;
                document.getElementById('hdnRequimentId').value = result.RequimentId;
                document.getElementById('txtCRN').value = result.ChangeRequestNumber;
                document.getElementById('txtCRD').value = result.StrChangeRequestDate;
                document.getElementById('txtMandays').value = result.MandaysEstimation;
                document.getElementById('txtDesc').value = result.Description;
            }
        });
    }

    //------------------------------------Tampil Change Request Document di Textbox--------------------------------------//

    function loadDataCRD(docId) {
        var id = docId;
        $.ajax({
            url: "/ChangeRequest/GetDataCRDById?id=" + id,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                document.getElementById('hdnEDocId').value = result.DocumentId
                document.getElementById('hdnECRId').value = result.ChangeRequestId
                document.getElementById('hdnEDocTypeId').value = result.DocumentTypeId;
                document.getElementById('txtEDocName').value = result.DocumentName;
                var x = document.getElementById('file');
                x.innerHTML=result.FilePath;
                document.getElementById('txtEVersion').value = result.Version;
            }
        });
    }

    //------------------------------------Tampil data Change Request Document-----------------------------------------//

    function loadDataChangeReqDoc(id,page) {
        var search = $("#searchCRDoc").val();
        if(page==null){
            page=1;
        }
        $.ajax({
            url: "/ChangeRequest/GetDataChangeReqDoc?id=" + id+"&page="+page+"&search="+search,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';
                var btn = '';
                var c = 0;
                var ctr = 0;
                //alert("Masuk succes");
                $.each(result, function (ket, item) {
                    html += '<tr>';
                    html += '<td>' + item.ModulNumber + '</td>';
                    html += '<td>' + item.RequirementNumber + '</td>';
                    html += '<td>' + item.RequirementDescription + '</td>';
                    html += '<td>' + item.ProjectName + '</td>';
                    html += '<td>' + item.ModulName + '</td>';
                    html += '<td>' + item.Description + '</td>';
                    html += '<td>' + item.Level + '</td>';
                    html += '<td> CreationBy:' + item.CreationBy + '<br/>';
                    html += 'CreationDate:' + item.StrCreationDate + '<br/>';
                    html += 'ModifiedBy:' + item.ModifiedBy + '<br/>';
                    html += 'ModifiedDate :' + item.StrModifiedDate + '</td>';
                    html += '<td><button class="btn btn-warning" data-toggle="modal" data-target="#modalFormEditCRD" onclick="loadDataCRD('+item.DocumentId+')">Edit</button></td>';
                    html += '</tr>';
                    c = item.lenght;
                    ctr++;

                });

                $('.TblChangeReqDoc').html(html);

                t = 1;
                for (var i = 0; i < c; i += 5) {
                    btn += '<button onclick="return loadDataChangeReqDoc('+id+','+ t + ')" class="btn btn-info" >' + t + '</button>';
                    t++;
                }
                $('#buttonPageCRD').html(btn);
                $('#pagePositionCRD').html('Anda berada di halaman : ' + page + ' dari ' + (t - 1));
                $('#jumlahDataCRD').html('Jumlah Data : ' + ctr + ' dari ' + c);
            }
        });

    }
    
</script>

<h2>Change Request Information</h2>
<form>
    <table class="table">
        <tr>
            <td>
                <table>
                    <tr>
                        <td>
                            Project Name
                        </td>
                        <td>:</td>
                        <td>
                            <label id="lblProName">>>>Label<<<</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Modul
                        </td>
                        <td>:</td>
                        <td>
                            <label id="lblModul">>>>Label<<<</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="hidden" id="hdnRequimentId"/>
                            Requirement Number
                        </td>
                        <td>:</td>
                        <td>
                            <label id="lblReNumb">>>>Label<<<</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Change Request Number
                        </td>
                        <td>:</td>
                        <td>
                            <input type="text" id="txtCRN" class="form-control"/>
                        </td>
                    </tr>
                </table>
                </td>
            <td>
                <table>
                    <tr>
                        <td>
                            Change Request Date
                        </td>
                        <td>:</td>
                        <td>
                            <input type="date" id="txtCRD" class="form-control"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Maydays Estimation
                        </td>
                        <td>:</td>
                        <td>
                            <input type="text" id="txtMandays" class="form-control"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Description
                        </td>
                        <td>:</td>
                        <td>
                            <textarea id="txtDesc" class="form-control"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td align="right"><input type="button" id="btnSave" value="Save" class="btn btn-primary" onclick="back()"/></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</form>
<hr/>
<h2>Change Request Document</h2>
<div class="modal fade" id="modalFormCRD" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Tutup</span>
                </button>
                <h4 class="modal-title" id="labelModalKu">Input/Edit Change Request Document</h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <p class="statusMsg"></p>
                <form role="form">
                    <table class="table-condensed">
                        <tr>
                            <td>Document Type</td>
                            <td>:</td>
                            <td>
                                    @Html.DropDownList("DocumentTypeId", null, htmlAttributes: new { @class = "form-control", id = "txtTypeId", onChange = "document.getElementById('hdnDocTypeId').value=document.getElementById('txtTypeId').value" })
                                    <input type="hidden" id="hdnDocTypeId" class="form-control"/>
                                    <input type="hidden" id="hdnCRId" />
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Document Name</td>
                            <td>:</td>
                            <td>
                                <input class="form-control" type="text" id="txtDocName"/>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>File</td>
                            <td>:</td>
                            <td><input class="form-control" type="file" id="txtFile"/></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Version</td>
                            <td>:</td>
                            <td><input class="form-control" type="text" id="txtVersion"/></td>
                            <td></td>
                        </tr>
                        
                    </table>
                </form>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
                <input id="btnSaveCRD" class="btn btn-primary submitBtn" type="button" value="Save" onclick="tutupAdd()"/>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalFormEditCRD" role="dialog" name="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Tutup</span>
                </button>
                <h4 class="modal-title" id="labelModalKu">Input/Edit Change Request Document</h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <p class="statusMsg"></p>
                <form role="form">
                    <table class="table-condensed">
                        <tr>
                            <td>Document Type</td>
                            <td>:</td>
                            <td>
                                @Html.DropDownList("DocumentTypeId", null, htmlAttributes: new { @class = "form-control", id = "txtTypeId", onChange = "document.getElementById('hdnEDocTypeId').value=document.getElementById('txtTypeId').value" })
                                <input type="hidden" id="hdnEDocTypeId" class="form-control" />
                                <input type="hidden" id="hdnECRId" />
                                <input type="hidden" id="hdnEDocId" />
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Document Name</td>
                            <td>:</td>
                            <td>
                                <input class="form-control" type="text" id="txtEDocName" />
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>File</td>
                            <td>:</td>
                            <td><input class="form-control" type="file" id="txtEFile" name="File"/></td>
                            <td><div id="file"></div></td>
                        </tr>
                        <tr>
                            <td>Version</td>
                            <td>:</td>
                            <td><input class="form-control" type="text" id="txtEVersion" /></td>
                            <td></td>
                        </tr>

                    </table>
                </form>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
                <input id="btnEditCRD" class="btn btn-primary submitBtn" type="button" value="Save" onclick="tutupEdit()"/>
            </div>
        </div>
    </div>
</div>
<table class="table table-striped table-bordered table-sm">
    <thead>
        <tr>
            <td colspan="2">
                <input type="text" class="form-control" placeholder="Search" id="searchCRDoc" />
            </td>
            <td>
                <input type="button" id="btnReqDoc" value="Search" onclick="loadDataChangeReqDoc(@ViewBag.ChangeRequestId)"/>
            </td>
            <td colspan="6" align="right">
                <button class="btn btn-success btn-lg" data-toggle="modal" data-target="#modalFormCRD">Add</button>
            </td>
        </tr>
        <tr>
                <th>
                    Modul Number
                </th>
                <th>
                    Requirement Number
                </th>
                <th>
                    Reuirement Description
                </th>
                <th>
                    Project Name
                </th>
                <th>
                    Modul Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Level
                </th>
                <th>
                    Schedule Date
                </th>
                <th>
                    Action
                </th>
        </tr>
    </thead>
    <tbody class="TblChangeReqDoc"></tbody>
</table>
<center>
    <div>
        <label id="pagePositionCRD"></label><br />
        <label id="jumlahDataCRD" style="margin: 10px;"></label>
        <div id="buttonPageCRD"></div>
    </div>
</center>



