﻿@model ProjectManagement.Entities.Modul
@{
    ViewBag.Title = "Edit";
}
<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- jQuery library -->
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>

    <!-- add thids links for the error message-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/1.3.1/css/toastr.css" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/1.3.1/js/toastr.js"></script>
    <script>
        $(document).ready(function () {
            $('#ModulNumber').val('@ViewBag.ModulNumber');
            $('#ModulName').val('@ViewBag.ModulName');
            $('#DependencyId').val('@ViewBag.DependencyId');

            $("#btnSave").click(function () {
                var ModulId = @ViewBag.ModulId;
                var DependToModul = $("#DependToModul").val();
                var DependencyId = 3;
                $.ajax({
                    url: '@Url.Action("SaveModulDependency", "PopUp")',
                    type: "POST",
                    data: JSON.stringify({
                        "DependencyId":DependencyId,
                        "ModulId": ModulId,
                        "DependToModul": DependToModul
                    }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (r) {
                        if (r.Status == "True") {
                            toastr.success(r.Message);
                        }
                        else {
                            toastr.success(r.Message);
                        }
                    }
                });
            });
        });

    </script>

    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>


@*POp Up*@
<div class="modal fade" id="modalForm" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Tutup</span>
                </button>
                <h4 class="modal-title" id="labelModalKu">Modul Dependency</h4>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <p class="statusMsg"></p>
                <form role="form">
                    <table align="center">
                        <input id="DependencyId" type="hidden" />
                        <tr>
                            <td>
                                Modul Number
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    @Html.Editor("ModulNumber", new { htmlAttributes = new { @class = "form-control", id = "ModulNumber", @disabled = "disabled" } })
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Modul Name
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    @Html.Editor("ModulName", new { htmlAttributes = new { @class = "form-control", id = "ModulName", @disabled = "disabled" } })
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Depend to Modul
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    @Html.DropDownList("ListModul", null, htmlAttributes: new { @class = "Form-Control", id = "DependToModul" })
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <div id="btnSaveMD"></div>
            </div>
        </div>
    </div>
</div>
@*-----------------------------------------------Popup Add Requirement----------------------------------------*@
<div class="modal fade" id="modalFormReq" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Tutup</span>
                </button>
                <h4 class="modal-title" id="labelModalKu">Input Requirement</h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <p class="statusMsg"></p>
                <form role="form">
                    <table class="table-condensed">
                        <tr>
                            <td>Project Name</td>
                            <td>:</td>
                            <td>
                                <input id="ProjectIdHidden" type="hidden" />
                                <label id="lblProName">>>Label<<</label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Modul Number</td>
                            <td>:</td>
                            <td><label id="lblModul">>>Label<<</label></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                Requirement Type
                            </td>
                            <td>:</td>
                            <td>
                                @Html.DropDownList("RequimentTypeId", null, htmlAttributes: new { @class = "form-control", id = "RequirmentIdAwal", onChange = " $('#ReqTypeId').val($('#RequirmentIdAwal').val())" })
                                <input id="ReqTypeId" type="hidden" />
                            </td>
                        </tr>
                        <tr>
                            <td>Requirement Number</td>
                            <td>:</td>
                            <td><input class="form-control required" type="text" id="txtReqNumber" required /></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>:</td>
                            <td><textarea class="form-control required" id="txtDesc" required></textarea></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Level</td>
                            <td>:</td>
                            <td><input class="form-control required" id="txtLevel" type="text" required /></td>
                            <td></td>
                        </tr>
                    </table>
                </form>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <div id="btnRequirment"></div>

            </div>
        </div>
    </div>
</div>
<!-- Pop up Requirment DOcument -->
<div class="modal fade" id="modalFormEditRD" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Tutup</span>
                </button>
                <h4 class="modal-title" id="labelModalKu">Input/Edit Requirement Document</h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <p class="statusMsg"></p>
                <form role="form">
                    <table class="table-condensed">
                        <tr>
                            <td>Document Type</td>
                            <td>:</td>
                            <td>
                                @Html.DropDownList("DocTypeId", null, htmlAttributes: new { @class = "form-control", id = "txtTypeId", onChange = "document.getElementById('hdnEDocTypeId').value=document.getElementById('txtTypeId').value" })
                                <input type="hidden" id="hdnEDocTypeId" class="form-control" />
                                <input type="hidden" id="hdnERequimentId" />
                                <input type="hidden" id="hdnEDocId" />
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Document Name</td>
                            <td>:</td>
                            <td>
                                <input class="form-control" type="text" id="txtEDocName" />
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>File</td>
                            <td>:</td>
                            <td><input class="form-control" type="file" id="txtEFile" /></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Version</td>
                            <td>:</td>
                            <td><input class="form-control" type="text" id="txtEVersion" /></td>

                        </tr>

                    </table>
                </form>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
                <input onclick="saveDataDR()" class="btn btn-primary submitBtn" type="button" value="Save" />
            </div>
        </div>
    </div>
</div>

@*PopUP Modul Document*@
<div class="modal fade" id="modalModulDoc" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Tutup</span>
                </button>
                <h5 class="modal-title" id="labelModalKu">Update Modul Document</h5>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <p class="statusMsg"></p>
                <form role="form">
                    <table align="center" class="table">
                        <tr>
                            <td>
                                <div class="form-group">
                                    Document Type
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    @Html.DropDownList("DocTypeId", null, htmlAttributes: new { @class = "Form-Control", id = "txtid", onChange = "document.getElementById('doc').value=document.getElementById('txtid').value" })
                                    <input type="hidden" id="doc" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    Document Name
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="txtDocName" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    File
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="file" class="form-control" id="txtFile" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    Version
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="txtVer" />
                                </div>
                            </td>
                        </tr>

                    </table>
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
               
                <!--button type="submit" class="btn btn-primary submitBtn">Save</!--button>  -->
                <div id="btnModucX"></div>
             

            </div>
        </div>
    </div>
</div>

@using System.Linq
@using ProjectManagement.Entities

@{
    ViewBag.Title = "PopUpProjectTimeline";
}

<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- jQuery library -->
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>


    <!-- add thids links for the error message-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/1.3.1/css/toastr.css" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/1.3.1/js/toastr.js"></script>




    <script>
       $(document).ready(function () {
        //________________________________________________________________

            $("#btnSave").click(function () {
                var ProjectScheduleId = $("#txtProjectScheduleId").val();
                var ProjectId = $("#txtProjectId").val();
                var ModulId = $("#txtModulId").val();
                var StartDate = $("#txtStartDate").val();
                var EndDate = $("#txtEndDate").val();

                //if (CheckRequiredFields()) {

                $('#dvLoader').show();
                $.ajax({
                    url: '@Url.Action("SaveProjectTimeline", "PopUp")',
                    type: 'POST',
                    data: JSON.stringify({ "ProjectScheduleId": ProjectScheduleId, "ProjectId": ProjectId, "ModulId": ModulId, "StartDate": StartDate, "EndDate": EndDate }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        $('#dvLoader').hide();

                        if (result.Status == "True") {
                            toastr.success(result.Message);
                            clear();
                            //display();
                        }
                        else {
                            toastr.success(result.Message);
                            clear();
                            //display();

                        }
                    }
                });

                //}

            });

            $("#btnCancel").click(function () {
                clear();
            });

            

    });
      

        function CheckRequiredFields() {
            var isValid = true;
            $('.required').each(function () {
                if ($.trim($(this).val()) == '') {
                    isValid = false;
                    $(this).addClass('red_border');


                }
                else {
                    $(this).removeClass('red_border');

                }
            });
            return isValid;
        }

        function checkemail(valemail) {
            var forgetfilter = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            if (forgetfilter.test(valemail)) {
                return true;
            }
            else {
                return false;
            }
        }
        function clear() {
            $("#txtVersion").val("");
            $("#txtStartDate").val("");
            $("#txtEndDate").val("");
            //$("#txtEmail").val("");
            //$('#btnSave').val("Save Client");
            //$("#hdnPID").val(0);
        }

        function isNumberKey(evt) {
            var charcode = (evt.which) ? evt.which : evt.keycode
            if (charcode > 31 && (charcode < 48 || charcode > 58)
                && evt.keyCode != 35 && evt.keyCode != 36 && evt.keyCode != 37
                && evt.keyCode != 38 && evt.keyCode != 39 && evt.keyCode != 40
                && evt.keyCode != 46) {
                return false;
            }
            else {
                return true;
            }
        }


        var TeamDetailPostBackURL = '/PopUp/GetProjectByScheduleProject';
        $(function () {
            $(".anchorDetail").click(function () {
                debugger;
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    //url: TeamDetailPostBackURL,
                    //INI MEMANGGIL METHOD DI CONTROLLER
                    url: "/PopUp/GetProjectByScheduleProject",
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        debugger;
                        $('#myModalContent').html(data);
                        $('#modalForm').modal(options);
                        $('#modalForm').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });
            //$("#closebtn").on('click',function(){
            //    $('#modalForm').modal('hide');

            $("#closbtn").click(function () {
                $('#modalForm').modal('hide');
            });
        });
    </script>
</head>

<div class="modal fade" id="modalFormEditCRD" role="dialog" name="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Tutup</span>
                </button>
                <h4 class="modal-title" id="labelModalKu">Input/Edit Change Request Document</h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <p class="statusMsg"></p>
                <form role="form">
                    <table class="table-condensed">
                        <tr>
                            <td>Document Type</td>
                            <td>:</td>
                            <td>
                                @Html.DropDownList("DocumentTypeId", null, htmlAttributes: new { @class = "form-control", id = "txtTypeId", onChange = "document.getElementById('hdnEDocTypeId').value=document.getElementById('txtTypeId').value" })
                                <input type="hidden" id="hdnEDocTypeId" class="form-control" />
                                <input type="hidden" id="hdnECRId" />
                                <input type="hidden" id="hdnEDocId" />
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Document Name</td>
                            <td>:</td>
                            <td>
                                <input class="form-control" type="text" id="txtEDocName" />
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>File</td>
                            <td>:</td>
                            <td><input class="form-control" type="file" id="txtEFile" name="File" /></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Version</td>
                            <td>:</td>
                            <td><input class="form-control" type="text" id="txtEVersion" /></td>
                            <td></td>
                        </tr>

                    </table>
                </form>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
                <input  onclick="EditCRDExecute()" class="btn btn-primary submitBtn" type="button" value="Save" />
            </div>
        </div>
    </div>
</div>

@*PopUP*@
<div class="modal fade" id="modalProjectTimeline" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Tutup</span>
                </button>
                <h5 class="modal-title" id="labelModalProTime"><b>/Edit Project Timeline</b></h5>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <p class="statusMsg"></p>
                <form role="form">
                    <table align="center" class="table">
                        <tr>
                            <td>
                                <div class="form-group">
                                    Project Name
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="text" disabled id="ProjectNamePRT" class="form-control"  />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    Modul
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="text" disabled id="ModulNamePRT" class="form-control"  />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    Version
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="text" disabled id="ModulVersionPRT" class="form-control"  />
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="form-group">
                                    Start Date
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="date" id="txtStartDate" class="form-control" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    End Date
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="date" id="txtEndDate" class="form-control" />
                                </div>
                            </td>
                        </tr>
                    </table>
                    <input id="txtProjectId" type="hidden" />
                    <input id="txtModulId" type="hidden" />
                    <input id="txtProjectScheduleId" type="hidden"  />
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
              <div id="btnSavePTLine"></div>
            </div>
        </div>
    </div>
</div>
<h2>Modul Information</h2>
@*
    // author       :Fauzi
    // Created date : 23-11-2018
    // Modified by  :Fauzi
    // Date Modified:05-12-2018
    // Addtional    :edit js,html

*@
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        var id = @ViewBag.ModulId;
        loadData(id);
        loadDataCR(id);
        loadDataRequirment(id);
        loadDataDocoment(id);
        loadDataPRT(id);
        loadDataDependency(id);
        loadDataRD(id);
        loadDataCRD(id);
    });



    // Function for edit data change request
     function EditCRDExecute() {
        var DocumentId = $("#hdnEDocId").val();
        var ChangeRequestId = $("#hdnECRId").val();
        var DocumentTypeId = $("#hdnEDocTypeId").val();
        var DocumentName = $("#txtEDocName").val();
        var FilePath = $("#txtEFile").val();
        var Version = $("#txtEVersion").val();
              var id = @ViewBag.ModulId;

        $.ajax({
            url: '@Url.Action("EditChangeRequestDoc", "EditModul")',
            type: 'POST',
            data: JSON.stringify({
                "DocumentId": DocumentId,
                "ChangeRequestId": ChangeRequestId,
                "DocumentTypeId": DocumentTypeId,
                "DocumentName": DocumentName,
                "FilePath": FilePath,
                "Version": Version
            }),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                if (result.Status == "true") {
                    alert(result.Message);

                }
                else {
                    alert(result.Message);
                }
                window.location.href = "/EditModul/Edit?id=" + id;

            }
        });
    }
   //Cek Duplicate Number
    function cekDuplicateNumber() {
        var number = $("#modulNumber").val();
        var id = $("#idModul").val();
        $.ajax({
            url: "/EditModul/CekModelNumber?id="+number,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result != 0) {
                    alert("ada");
                } else {
                    alert("belum ada");
                }
            },
            error: function (errormessage) {
                alert('error : ' + errormessage.responseText);
            }
        });
    }
    //save Update Project TIme Line
    function UpdateProjectTimeLine(id) {
          var ProjectScheduleId = $("#txtProjectScheduleId").val();
                var ProjectId = $("#txtProjectId").val();
                var ModulId = $("#txtModulId").val();
                var StartDate = $("#txtStartDate").val();
                var EndDate = $("#txtEndDate").val();
                //if (CheckRequiredFields()) {

          $.ajax({
                    url: '@Url.Action("SaveProjectTimeline", "EditModul")',
                    type: 'POST',
                    data: JSON.stringify({

                        "ProjectId": ProjectId,
                        "ModulId": ModulId,
                        "StartDate": StartDate,
                        "EndDate": EndDate,
                        "stUpdate": 1,
                        "idPT":id
                    }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        if (result.Status == "True") {
                            toastr.success(result.Message);
                            clear();
                            //display();
                        }
                        else {
                            toastr.success(result.Message);
                            clear();
                            //display();

                        }
                        alert("OK");
                        window.location.href = "/EditModul/Edit?id=" + ModulId;
                    },
            error: function (errormessage) {
                alert('error : ' + errormessage.responseText);
            }
          });



    }
    //link to pup up edit project time line
    function EditProjectTimeLine(x) {
        $.ajax({
            url: "/EditModul/GetDataProjectTimeLineForEdit?id=" + x,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                $.each(result, function (key, item) {
                    $("#ProjectNamePRT").val(item.ProjectName);
                    $("#ModulNamePRT").val(item.ModulName);
                    $("#ModulVersionPRT").val(item.Version);
                    $("#txtProjectId").val(item.ProjectId);
                    $("#txtModulId").val(item.ModulId);
                    $("#btnSavePTLine").html('<input onclick="UpdateProjectTimeLine(' + item.TimelineId + ')" class="btn btn-primary submitBtn" type="button" value="Save" />');

                });

            }
        });
    }
    //load data Project Time Line
    function loadDataPRT(x,p) {
        var id = x;
        if (p == null) {
            p = 1;
        }
        var searchPRT = $("#searchPRT").val();
        $.ajax({
            url: "/EditModul/GetDataProjectTimeLine?id=" + id + "&page=" + p + "&searchPRT=" + searchPRT,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';
                var totaldata = 0;
                var btn = '';
                var t = 1;
                var c = result.length;
                $.each(result, function (key, item) {
                    html += "<tr>";
                    html += "<td>" + item.ProjectName + "</td>";
                    html += "<td>" + item.ModulName + "</td>";
                    html += "<td>" + item.Version+"</td>";
                    html += "<td> Start Date :" + item.StartDateStr;
                    html += "<br> End Date :" + item.EndDateStr + "</td>";
                    html += '<td><button class="btn btn-warning" data-toggle="modal" data-target="#modalProjectTimeline" onclick="EditProjectTimeLine('+item.TimelineId+')">Edit</button></td>';

                    html += "</tr>";
                    totaldata = item.Length;
                    c = item.Length;
                });
                $("#tbodyprt").html(html);
                $("#totalprt").html("Total Data : " + totaldata);
                for (var i = 0; i < c; i += 5) {
                    btn += '<button onclick="return loadDataPRT(' + x + ')" class="btn btn-info" >' + t + '</button>';
                    t++;
                } $('#buttonPagePRT').html(btn);
                $('#pagePositionPRT').html('Anda berada di halaman : ' + p + ' dari ' + (t - 1));
            }
        });
    }
    @*
  function ToJavaScriptDate(value) {
            var pattern = /Date\(([^)]+)\)/;
            var results = pattern.exec(value);
            var dt = new Date(parseFloat(results[1]));
            return (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear();
        }

//cara manggil
 $("#txStartDate").val(ToJavaScriptDate(response.StartDatePlan)),
    *@
    //load data Change Request
    function loadDataCR(x,p) {
        var searchText = $("#searchCR").val();
        if (p == null) {
            p = 1;
        }
        $.ajax({
            url: "/EditModul/GetDataChangeRequest?id="+x+"&page=" + p + "&searchText=" + searchText,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';
                var totaldata = 0;
                var btn = '';
                var t = 1;
                var c = result.length;
                $.each(result, function (ket, item) {
                    html += '<tr>';
                    html += '<td>' + item.RequirementRequestNumber + '</td>';
                    html += '<td>' + item.RequirementDescription + '</td>';
                    html += '<td>' + item.ChangeRequestNumber + '</td>';
                    html += '<td>' + item.Description + '</td>';
                    html += '<td>' + item.StrChangeRequestDate + '</td>';
                    html += '<td>' + item.MandaysEstimation + '</td>';
                    html += '<td><button class="btn btn-warning" data-toggle="modal" data-target="#" onclick="LinkCR(' + item.ChangeRequestId+')">Edit</button></td>';
                    html += '</tr>';
                    totaldata = item.length;
                    c = item.lenght;

                });

                for (var i = 0; i < c; i += 5) {
                    btn += '<button onclick="return loadDataCR(' +x+','+ t + ')" class="btn btn-info" >' + t + '</button>';
                    t++;
                } $('#buttonPageCR').html(btn);
                $('#pagePositionCR').html('Anda berada di halaman : ' + p + ' dari ' + (t - 1));
                $('#idcr').html(html);
                $('#totalcr').html("Total Data : " + totaldata);
                $("#btnSearchCR").html(btnsrc);
            }
        });
    }

      //Edit Modul Dependency
    function testEdit(id) {
           var ModulId = @ViewBag.ModulId;
                var DependToModul = $("#DependToModul").val();
                var DependencyId = id;
         $.ajax({
             url:"/PopUp/SaveModulDependency",
                    type: "POST",
                    data: JSON.stringify({
                        "DependencyId":DependencyId,
                        "ModulId": ModulId,
                        "DependToModul": DependToModul
                    }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (r) {
                        alert("OK");
                        window.location.href = "/EditModul/Edit?id="+ModulId;
                    }
                });
    }
    //link to Change Request Information
    function LinkCR(id) {
        window.location.href = "/ChangeRequest/Edit?id=" + id;
    }
    //get data modul dependency for edit
    function EditModulDependency(x,id) {
        $.ajax({
            url: "/EditModul/PopUpModulDependency?id=" + x +"&idDependency="+id,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var idMD = 0;
                $.each(result, function (ket, item) {
                 
                    $("#ModulNumber").val(item.ModulNumber);
                    $("#ModulName").val(item.ModulName);
                    id = item.DependencyId;
                });
                $("#btnSaveMD").html('<input onclick="testEdit('+id+')" class="btn btn-primary submitBtn" type="button" data-dismiss="modal" value="Save" />');
                //window.location.href = "/PopUp/GetProjectByScheduleProject";
            }
        });
    }
    //Modul Docuement
    function UpdateDoc(){
        var id=$("#doc").val();
        var name=$("#txtDocName").val();
        var file=$("#txtFile").val();
        var version=$("#txtVer").val();
        $.ajax({
            url: '@Url.Action("SaveModDoc", "PopUp")',
            type: 'POST',
            data: JSON.stringify({
                "id": id,
                "name": name,
                "file": file,
                "version": version,
            }),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                $('#dvLoader').hide();

                if (result.Status == "True") {
                    toastr.success(result.Message);
                    clear();
                    //display();
                }
                else {
                    toastr.success(result.Message);
                    clear();
                    //display();
                }
            }
        });
    }

    function DeleteModulDependency(id) {
        var idModul=@ViewBag.ModulId;
        if (confirm("Apakah Anda Yakin Akan Mendelete ?")) {
            window.location.href = "/EditModul/Edit?id=" + idModul+"&idDependency="+id;
        }
    }
    //load data dependency
    function loadDataDependency(x,p) {
        var id = x;
        if (p == null) {
            p = 1;
        }
        var searchMD = $("#searchMDX").val();
        $.ajax({
            url: "/EditModul/GetDataModulDependency?id=" + id + "&page=" + p + "&searchMD=" + searchMD,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';
                var btn = '';
                var data = 0;
                var t = 1;
                var c = result.length;
                $.each(result, function (ket, item) {
                    html += '<tr>';
                    html += '<td>' + item.ModulNumber + '</td>';
                    html += '<td>' + item.ModulName  + '</td>';
                    html += '<td align="center"><button class="btn btn-warning" data-toggle="modal" data-target="#modalForm" onclick="EditModulDependency(' + item.ModulId + ',' + item.DependencyId + ')">Edit</button></td>';
                    html += '<td align="center"><button class="btn btn-warning" data-toggle="modal" data-target="#" onclick="DeleteModulDependency(' + item.DependencyId + ')">Delete</button></td>';
                    //html += "<td align='center'><a href='#' onclick='EditModulDependency(" +item.ModulId+','+ item.DependencyId + ")' class='btn btn- success btn- lg' data-toggle='modal' data-target='#modalForm' >Edit</a> </td>";

                    html += '</tr>';
                    totaldata = item.Length;
                    c = item.Length;
                });
                $("#tbodydependency").html(html);
                $("#totalDataMD").html("Total Data : " + totaldata);
                for (var i = 0; i < c; i += 5) {
                    btn += '<button onclick="return loadDataDependency(' + x + "," + + t + ')" class="btn btn-info" >' + t + '</button>';
                    t++;
                } $('#buttonPageMD').html(btn);
                $('#pagePositionMD').html('Anda berada di halaman : ' + p + ' dari ' + (t - 1));
            }
        });
    }

    //load data  requirment
    function loadDataRequirment(x,p) {
        var id = x;
        if (p == null) {
            p = 1;
        }
        var searchR = $("#searchR").val();
        $.ajax({
            url: "/EditModul/GetDataRequirment?id=" + id + "&page=" + p + "&searchR=" + searchR,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';
                var btn = '';
                var data = 0;
                var t = 1;
                var c = result.length;
                $.each(result, function (key, item) {
                    html += '<tr>';
                    html += '<td>' + item.RequiermentType + '</td>';
                    html += '<td>' + item.RequirementNumber + '</td>';
                    html += '<td>' + item.Description + '</td>';
                    html += '<td>' + item.Level + '</td>';
                    html += '<td> Creation By :' + item.CreationBy + '<br>';
                    html += 'Create Date :' + item.CreationDateStr + '<br>';
                    html += 'Modified By :' + item.ModifiedBy + '<br>';
                    html += 'Modified Date :' + item.ModifiedDateStr + '<br>';
                    html += '</td>';
                    html += '<td><button class="btn btn-warning" data-toggle="modal" data-target="#" onclick="LinkForEditRequiremnt(' + item.RequimentId+')">Edit</button></td>';
                    html += '</tr>';
                    data = item.length;
                    c = item.length;
                });
                $("#tbodyrequirment").html(html);
                $("#totalrequirment").html("Total Data : " + data);
                for (var i = 0; i < c; i += 5) {
                    btn += '<button onclick="return loadDataRequirment(' + x + "," + + t + ')" class="btn btn-info" >' + t + '</button>';
                    t++;
                } $('#buttonPageR').html(btn);
                $('#pagePositionR').html('Anda berada di halaman : ' + p + ' dari ' + (t - 1));

            }
        });
    }

    function LinkForEditRequiremnt(x) {
        window.location.href = "/Requirment/Edit?id=" + x;
    }




    //load data modul

    function loadData(x) {
        var id = x;
        $.ajax({
            url: "/EditModul/EditViewJs?id="+id,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                $('#projectName').html(result.ProjectName);
                $('#modulNumber').val(result.ModulNumber);
                $('#modulName').val(result.ModulName);
                $('#PIC').val(result.PIC);
                $('#ModulStatusId').val(result.ModulStatusId);
                $('#ParentModulId').val(result.ParentModul);
                var now = result.StartDateActual;
                $('#mandaysestimation').val(result.MadaysEstimation);
                $('#startdateactual').val(today);
                },
            error: function (errormessage) {
                alert('error : ' + errormessage.responseText);
                //var c = errormessage.error;
                //$('.tbody').html(errormessage.getAllResponseHeaders.toString());
            }
        });
    }

    function loadDataPopupReq(x) {
        var id = x;
        $.ajax({
            url: "/EditModul/EditViewJs?id="+id,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {

                $("#ProjectIdHidden").html(result.ProjectId);
                var x = document.getElementById('lblProName');
                var y = document.getElementById('lblModul');
                x.innerHTML=result.ProjectName;
                y.innerHTML = result.ModulNumber;
                $("#btnRequirment").html('<input class="btn btn-primary submitBtn" onclick="SaveRequirment('+result.ProjectId+')" type="button" value="Save" />');

            },
            error: function (errormessage) {
                alert('error : ' + errormessage.responseText);
                //var c = errormessage.error;
                //$('.tbody').html(errormessage.getAllResponseHeaders.toString());
            }
        });
    }

    //Function for save data requirment
    function SaveRequirment(x) {

        var modulId = @ViewBag.ModulId;
        var requimentTypeId = $("#RequirmentIdAwal").val();
        var description = $("#txtDesc").val();
        var requirmentNumber = $("#txtReqNumber").val();
        var level = $("#txtLevel").val();
        alert("Masuk");

        $.ajax({
            url: '@Url.Action("SaveRequirement", "EditModul")',
            type: 'POST',
            data: JSON.stringify({
                "ModulId": modulId,
                "ProjectId": x,
                "RequimentTypeId": requimentTypeId,
                "RequirementNumber": requirmentNumber,
                "Description": description,
                "Level": level

            }),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                $('#dvLoader').hide();

                if (result.Status == "True") {
                    toastr.success(result.Message);
                    clear();

                    //display();
                }
                else {
                    toastr.success(result.Message);
                    clear();
                    //display();

                }

            }
        });
        window.location.href = "/EditModul/Edit?id=" + modulId;
    }
    function editModul() {
        var projectName = document.getElementById("projectName").innerHTML;
        var modulStatusIdAwal = $("#ModulStatusIdAwal").val();
        var mandaysEstimation = $('#mandaysestimation').val();
        var modulNumber = $("#modulNumber").val();
        var modulName = $("#modulName").val();
        var startDateActual = $("#startdateactual").val();
        var parentModulId = $("#ParentModulId").val();
        var endDateActual = $("#enddateactual").val();
        var PIC = $("#PIC").val();
        var id = @ViewBag.ModulId;
        $.ajax({
            url: "/EditModul/UpdateData?id=" + id + "&projectName=" + projectName + "&modulStatusIdAwal=" + modulStatusIdAwal + "&modulNumber=" + modulNumber + "&modulName=" + modulName + "&startDateActual=" + startDateActual +
            "&parentModulId=" + parentModulId + "&parentModulId=" + parentModulId + "&endDateActual=" + endDateActual + "&PIC=" + PIC + "&mandaysestimation=" + mandaysEstimation,
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                alert("Data Berhasil di Update");
                window.location.href = "/Project/Edit/" + result.ProjectId;
            }, error: function (errormessage) {
                alert('error : ' + errormessage.responseText);
            }
        });
    }
    //Get data For Edit Requirment document
    function EditDataRequirmentDocument(x) {
     

        $.ajax({
            url: "/EditModul/GetDataRequirmentDocumentById?id=" + x,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                $.each(result, function (ket, item) {
                    $("#txtEDocName").val(item.DocumentName);
                    $("#txtEFile").val(item.FilePath);
                    $("#txtEVersion").val(item.Version);
                    $("#hdnEDocId").val(item.DocumentId);
                    $("#hdnEDocTypeId").val(item.DocumentTypeId);
                    $("#hdnERequimentId").val(item.RequimentId);
                });
            }
        });
    }
    //Save data after edit requirment document  btnEditRD
    function saveDataDR() {
        var hdnEDocTypeId = $("#hdnEDocTypeId").val();
        var hdnERequimentId = $("#hdnERequimentId").val();
        var hdnEDocId = $("#hdnEDocId").val();
        var txtEDocName = $("#txtEDocName").val();
        var txtEFile = $("#txtEFile").val();
        var txtEVersion = $("#txtEVersion").val();
        var modulId=@ViewBag.ModulId;
        $.ajax({

            url: '@Url.Action("EditReqDoc", "EditModul")',
            type: 'POST',
            data: JSON.stringify({
                "DocumentId": hdnEDocId,
                "RequimentId": hdnERequimentId,
                "DocumentTypeId": hdnEDocTypeId,
                "DocumentName": txtEDocName,
                "FilePath": txtEFile,
                "Version": txtEVersion
            }),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                //$('#dvLoader').hide();

                if (result.Status == "True") {
                    toastr.success(result.Message);
                    clear();
                    //display();
                    // $('#modalModul').hide();
                }
                else {
                    toastr.success(result.Message);
                }
            }
        });
        window.location.href = "/EditModul/Edit?id=" + modulId;
    }

    //load data Requirment document
    function loadDataRD(x, p) {
        var id = x;
        var searchDR = $("#searchRDD").val();
        if (p == null) {
            p = 1;
        }
        $.ajax({
            url: "/EditModul/GetDataRequirmentDocument?id=" + x + "&page=" + p + "&searchDR=" + searchDR,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';
                var totaldata = 0;
                var btn = '';
                var t = 1;
                var c = result.length;
                $.each(result, function (ket, item) {
                    html += '<tr>';
                    html += '<td>' + item.requirmentNumber + '</td>';
                    html += '<td>' + item.documentType + '</td>';
                    html += '<td>' + item.DocumentName + '</td>';
                    html += '<td>' + item.FilePath + '</td>';
                    html += '<td>' + item.Version + '</td>';
                    html += '<td><button class="btn btn-warning" data-toggle="modal" data-target="#modalFormEditRD" onclick="EditDataRequirmentDocument(' + item.DocumentId+')">Edit</button></td>';
                    html += '</tr>';
                    totaldata = item.Length;
                    c = totaldata;

                });

                for (var i = 0; i < c; i += 5) {
                    btn += '<button onclick="return loadDataRD(' + x + ',' + t +')" class="btn btn-info" >' + t + '</button>';
                    t++;
                } $('#buttonPageRD').html(btn);
                $('#pagePositionRd').html('Anda berada di halaman : ' + p + ' dari ' + (t - 1));
                $('#idrd').html(html);
                $('#totalrd').html("Total Data : " + totaldata);
                $("#btnSearchRD").html(btnsrc);
            }
        });
    }

    //load data document
    function loadDataDocoment(x, p) {
        var id = x;
        if (p == null) {
            p = 1;
        }
        var searchMD = $("#searchMD").val();
        $.ajax({
            url: "/EditModul/GetDataDocument?id=" + id + "&page=" + p + "&searchDC=" + searchMD,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';
                var btn = '';
                var data = 0;
                var t = 1;
                var c = result.length;

                $.each(result, function (key, item) {
                    html += '<tr>';
                    html += '<td>' + item.DocumentType + '</td>';
                    html += '<td>' + item.DocumentName + '</td>';
                    html += '<td>' + item.FilePath + '</td>';
                    html += '<td align="center">' + item.Version + '</td>';
                    html += '<td><button class="btn btn-warning" data-toggle="modal" data-target="#modalModulDoc" onclick="EditPopUpModulDocumen(' + item.DocumentId + ')">Edit</button></td>';
                    c = item.length;
                    html += '</tr>';
                    data = item.length;;
                });
                for (var i = 0; i < c; i += 5) {
                    btn += '<button onclick="return loadDataDocoment(' + x + "," + + t + ')" class="btn btn-info" >' + t + '</button>';
                    t++;
                } $('#buttonPage').html(btn);
                $('#pagePosition').html('Anda berada di halaman : ' + p + ' dari ' + (t - 1));

                $("#tbodydocument").html(html);
                $("#totaldatadocument").html("Total Data : " + data);

            },
            error: function (errormessage) {
                alert('error : ' + errormessage.responseText);
            }
        });
    }
    //function for pop up modul ducument
    function AddModulDocument() {
        $("#btnModucX").html('<input onclick="SaveModulDoc()" class="btn btn-primary submitBtn" type="button" value="Save" />');

    }

    function EditPopUpModulDocumen(x) {

        $.ajax({
            url: "/EditModul/GetDataByIdModulDocument?ModulDocumentId="+x,
            type: 'GET',
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                $.each(result, function (ket, item) {
                    $("#txtDocName").val(item.DocumentName);
                    $("#txtVer").val(item.Version);
                    $("#txtFile").val(item.FilePath);

                });

            }
        });
        $("#btnModucX").html('<input onclick="EditDataModulDoc('+x+')" class="btn btn-primary submitBtn" type="button" value="Save" />');
    }

     function EditDataModulDoc(x){

        var id = $("#txtid").val();
        var name = $("#txtDocName").val();
        var file = $("#txtFile").val();
        var version = $("#txtVer").val();
         var modulId = @ViewBag.ModulId;

        $.ajax({
            url: "/EditModul/FuncEditModDoc",
            type: 'POST',
            data: JSON.stringify({
                "idd": x,
                "id": id,
                "name": name,
                "file": file,
                "version": version,
            }),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                $('#dvLoader').hide();

                if (result.Status == "True") {
                    toastr.success(result.Message);
                    clear();
                    //display();
                }
                else {
                    toastr.success(result.Message);
                    clear();
                    //display();
                }
            }
        });
        window.location.href = "/EditModul/Edit?id=" + modulId;
    }

     function SaveModulDoc(){
        var idd=$("#idd").val();
        var id = $("#txtid").val();
        var name = $("#txtDocName").val();
        var file = $("#txtFile").val();
        var version = $("#txtVer").val();
         var x = @ViewBag.ModulId;

        $.ajax({
            url: '@Url.Action("SaveModDoc", "EditModul")',
            type: 'POST',
            data: JSON.stringify({
                "ModulID":x,
                "DocumentTypeid": id,
                "name": name,
                "file": file,
                "version": version,
            }),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                $('#dvLoader').hide();

                if (result.Status == "True") {
                    toastr.success(result.Message);
                    clear();
                    //display();
                }
                else {
                    toastr.success(result.Message);
                    clear();
                    //display();
                }
            }
        });
        window.location.href = "/EditModul/Edit?id=" + x;
    }

    //get Data For Edit Change Request Document
      function GetDataForEditCRD(id) {
          $.ajax({
              url: "/EditModul/GetDataForEditChangeRequirmentDocument?id=" + id,
              contentType: "application/json;charset=utf-8",
              dataType: "json",
              success: function (result) {

                  $.each(result, function (ket, item) {
                      $("#txtEDocName").val(item.DocumentName);
                      $("#txtEVersion").val(item.Version);
                      $("#hdnEDocTypeId").val(item.DocumentTypeId);
                      $("#hdnECRId").val(item.ChangeRequestId);
                      $("#hdnEDocId").val(item.DocumentId);
                  });


              },
              error: function (errormessage) {
                  alert('error : ' + errormessage.responseText);
              }

          });
      }
    //load data change request document
    function loadDataCRD(x, p) {
        var id = x;
        var searchCDR = $("#searchCRD").val();
        var s = $("#searchCRD").val();
        if (p == null) {
            p = 1;
        }
        $.ajax({
            url: "/EditModul/GetDataChangeRequirmentDocument?id=" + id + "&page=" + p + "&searchDR=" + s,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';
                var totaldata = 0;
                var btn = '';
                var t = 1;
                var c = result.length;
                $.each(result, function (ket, item) {
                    html += '<tr>';
                    html += '<td>' + item.RequirementNumber + '</td>';
                    html += '<td>' + item.RequirementDescription + '</td>';
                    html += '<td>' + item.ProjectName + '</td>';
                    html += '<td>' + item.ModulName + '</td>';
                    html += '<td>' + item.Description + '</td>';
                    html += '<td>' + item.Level + '</td>';
                    html += '<td> Creation By :' + item.CreationBy + '<br>';
                    html += 'Create Date :' + item.StrCreationDate + '<br>';
                    html += 'Modified By :' + item.ModifiedBy + '<br>';
                    html += 'Modified Date :' + item.StrModifiedDate + '</td>';

                    html += '<td><button class="btn btn-warning" data-toggle="modal" data-target="#modalFormEditCRD" onclick="GetDataForEditCRD('+item.DocumentId+')">Edit</button></td>';
                    html += '</tr>';
                    totaldata =item.lenght;
                    c = totaldata;

                });

                for (var i = 0; i < c; i += 5) {
                    btn += '<button onclick="return loadDataCRD(' + x + ',' + t + ')" class="btn btn-info" >' + t + '</button>';
                    t++;
                } $('#buttonPageCRDocument').html(btn);
                $('#pagePositionCRD').html('Anda berada di halaman : ' + p + ' dari ' + (t - 1));
                $('#idcrd').html(html);
                $('#totalcrd').html("Total Data : " + totaldata);
                $("#btnSearchRD").html(btnsrc);
            },
            error: function (errormessage) {
                alert('error : ' + errormessage.responseText);
            }

        });
    }
</script>
<table class="table">
    <tr>
        <td>
            <table>
                <tr>
                    <td>Project Name</td>
                    <td>:</td>
                    <td><div id="projectName" class="control-label"></div></td>
                </tr>
                <tr>
                    <td>Modul Number</td>
                    <td>:</td>
                    <td><input type="text" id="modulNumber" class="form-control"></td>
                    <td><input type="button" value="Check" onclick="cekDuplicateNumber()" /></td>
                </tr>
                <tr>
                    <td>Parent Modul</td>
                    <td>:</td>
                    <td>
                        <input type="text" id="ParentModulId" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td>PIC</td>
                    <td>:</td>
                    <td><input type="text" id="PIC" class="form-control"></td>
                </tr>
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <td>Modul Status</td>
                    <td>:</td>
                    <td>
                        @Html.DropDownList("ModulStatusId", null, htmlAttributes: new { @class = "form-control", id = "ModulStatusIdAwal", onChange = "$('#ModulStatusId').val($('#ModulStatusIdAwal').val())" })
                    </td>
                </tr>
                <tr>
                    <td>Mandays Estimation</td>
                    <td>:</td>
                    <td><input type="text" id="mandaysestimation" class="form-control" /></td>
                </tr>
                <tr>
                    <td>Start Date Actual</td>
                    <td>:</td>
                    <td><input type="date" id="startdateactual" class="form-control"></td>
                </tr>
                <tr>
                    <td>End Date Actual</td>
                    <td>:</td>
                    <td><input type="date" id="enddateactual" class="form-control"></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td align="right"><input type="button" onclick="editModul()" value="Save" class="btn btn-primary" /></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<h2>Modul Document</h2>
<div>
    <table class="table table-striped table-bordered table-sm">
        <thead>
            <tr>
                <td>
                    <input type="text" class="form-control" placeholder="Search" id="searchMD" />
                </td>
                <td>
                    <input type="button" value="Search" onclick="loadDataDocoment(@ViewBag.ModulId)" />
                </td>
                <td colspan="6" align="right">
                    <button onclick="AddModulDocument()" class="btn btn-success btn-lg" data-toggle="modal" data-target="#modalModulDoc">Add</button>
                </td>
            </tr>
            <tr>
                <th>Document Type</th>
                <th>Document Name </th>
                <th>File </th>
                <th>Version</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="tbodydocument"></tbody>
    </table>   
</div>
<center>
    <div>
        <label id="pagePosition"></label><br />
        <label id="totaldatadocument" style="margin: 10px;"></label>
        <div id="buttonPage"></div>
    </div>
</center>

<h2>Requirement</h2>
<div>
    <table class="table table-striped table-bordered table-sm">
        <thead>
            <tr>
                <td>
                    <input type="text" class="form-control" placeholder="Search" id="searchR" />
                </td>
                <td>
                    <input type="button" value="Search" onclick="loadDataRequirment(@ViewBag.ModulId)" />
                </td>
                <td colspan="5" align="right">
                    <button class="btn btn-success btn-lg" data-toggle="modal" data-target="#modalFormReq" onclick="loadDataPopupReq(@ViewBag.ModulId)">Add</button>
                </td>
            </tr>
            <tr>
                <th>Requirement Type</th>
                <th>Requirement Number</th>
                <th>Description</th>
                <th>Level</th>
                <th>Creation Deatails</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="tbodyrequirment"></tbody>
    </table>
</div>
<center>
    <div>
        <label id="pagePositionR"></label><br />
        <label id="totalrequirment" style="margin: 10px;"></label>
        <div id="buttonPageR"></div>
    </div>
</center>
<h2>Requirement Document</h2>
<div>
    <table class="table table-striped table-bordered table-sm">
        <thead>
            <tr>
                <td>
                    <input type="text" class="form-control" placeholder="Search" id="searchRDD" />
                </td>
                <td colspan="5">
                    <input type="button" value="Search" onclick="loadDataRD(@ViewBag.ModulId)" />
                </td>
            </tr>
            <tr>
                <th>Requirment Number</th>
                <th>Document Type</th>
                <th>Document Name </th>
                <th>File </th>
                <th>Version</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="idrd"></tbody>
    </table>
</div>
<center>
    <div>
        <label id="pagePositionRd"></label><br />
        <label id="totalrd" style="margin: 10px;"></label>
        <div id="buttonPageRD"></div>
    </div>
</center>
<h2>Change Request</h2>
<div>
    <table class="table table-striped table-bordered table-sm">
        <thead>
            <tr>
                <td>
                    <input type="text" class="form-control" placeholder="Search" id="searchCR" />
                </td>
                <td colspan="6">
                    <input type="button" value="Search" onclick="loadDataCR(@ViewBag.ModulId)" />
                </td>
            </tr>
            <tr>
                <th>Requirement Number</th>
                <th>Requirement Description</th>
                <th>Change Request Number</th>
                <th>Description</th>
                <th>Change Request Date</th>
                <th>Mandays Estimation</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="idcr"></tbody>
    </table>
</div>
<center>
    <div>
        <label id="pagePositionCR"></label><br />
        <label id="totalcr" style="margin: 10px;"></label>
        <div id="buttonPageCR"></div>
    </div>
</center>
<h2>Change Request Document</h2>
<div>
    <table class="table table-striped table-bordered table-sm">
        <thead>
            <tr>
                <td>
                    <input type="text" class="form-control" placeholder="Search" id="searchCRD" />
                </td>
                <td colspan="7">
                    <input type="button" value="Search" onclick="loadDataCRD(@ViewBag.ModulId)" />
                </td>
            </tr>
            <tr>
                <th>Requirement Number</th>
                <th>Requirement Description</th>
                <th>Project Name</th>
                <th>Modul Name</th>
                <th>Description</th>
                <th>Level</th>
                <th>Schedule Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="idcrd"></tbody>
    </table>
</div>
<center>
    <div>
        <label id="pagePositionCRD"></label><br />
        <label id="totalcrd" style="margin: 10px;"></label>
        <div id="buttonPageCRDocument"></div>
    </div>
</center>
<h2>Project Time Line</h2>
<div>
    <table class="table table-striped table-bordered table-sm">
        <thead>
            <tr>
                <td>
                    <input type="text" class="form-control" placeholder="Search" id="searchPRT" />
                </td>
                <td colspan="4">
                    <input type="button" value="Search" onclick="loadDataPRT(@ViewBag.ModulId)" />
                </td>
            </tr>
            <tr>
                <th>Project Name</th>
                <th>Modul Name</th>
                <th>Version</th>
                <th>Schedule Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="tbodyprt"></tbody>
    </table>
</div>
<center>
    <div>
        <label id="pagePositionPRT"></label><br />
        <label id="totalprt" style="margin: 10px;"></label>
        <div id="buttonPagePRT"></div>
    </div>
</center>
<h2>Modul Dependency</h2>
<div>
    <table class="table table-striped table-bordered table-sm">
        <thead>
            <tr>
                <td>
                    <input type="text" class="form-control" placeholder="Search" id="searchMDX" />
                </td>
                <td>
                    <input type="button" value="Search" onclick="loadDataDependency(@ViewBag.ModulId)" />
                </td>
                <td colspan="6" align="right">
                    <button class="btn btn-success btn-lg" data-toggle="modal" data-target="#modalForm" onclick="EditModulDependency(@ViewBag.ModulId)">Add</button>
                </td>
            </tr>
            <tr>
                <th>Depend To Modul Number</th>
                <th>Depend To Modul Name</th>
                <td colspan="2" align="center"><strong>Action</strong></td>
            </tr>
        </thead>
        <tbody id="tbodydependency"></tbody>
    </table>
</div>
<center>
    <div>
        <label id="pagePositionMD"></label><br />
        <label id="totalDataMD" style="margin: 10px;"></label>
        <div id="buttonPageMD"></div>
    </div>
</center>
            

               



