﻿@model IEnumerable<ProjectManagement.Entities.ProjectTimeline>

@using System.Linq
@using ProjectManagement.Entities

@{
    ViewBag.Title = "Edit";
}

@{
    ProjectManagementDBContext db = new ProjectManagementDBContext();
    var projectById = db.Projects.Find(3);

    var projectScheduleById = db.ProjectSchedules.Find(5);
    var modulById = db.Moduls.Find(3);

}

@{

    var idProjectSchedule = Request.Url.Segments.Last();

}

<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- jQuery library -->
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>

    <!-- add thids links for the error message-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/1.3.1/css/toastr.css" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/1.3.1/js/toastr.js"></script>




    <script>
       $(document).ready(function () {
        //________________________________________________________________

            $("#btnSave").click(function () {
                var ProjectScheduleId = $("#txtProjectScheduleId").val();
                var ProjectId = $("#txtProjectId").val();
                var ModulId = $("#txtModulId").val();
                var StartDate = $("#txtStartDate").val();
                var EndDate = $("#txtEndDate").val();

                //if (CheckRequiredFields()) {

                $('#dvLoader').show();
                $.ajax({
                    url: '@Url.Action("SaveProjectTimeline", "PopUp")',
                    type: 'POST',
                    data: JSON.stringify({ "ProjectScheduleId": ProjectScheduleId, "ProjectId": ProjectId, "ModulId": ModulId, "StartDate": StartDate, "EndDate": EndDate, "stUpdate": 0, "idPT": 0 }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        $('#dvLoader').hide();

                        if (result.Status == "True") {
                            toastr.success(result.Message);
                            clear();
                            //display();
                        }
                        else {
                            toastr.success(result.Message);
                            clear();
                            //display();

                        }
                    }
                });

                //}

            });

            $("#btnCancel").click(function () {
                clear();
            });

       });

        $(document).ready(function () {
            //________________________________________________________________

            $("#IdEdit").click(function () {
                $("#txtVersion").val("1.1.1.2");
                var ProjectScheduleId = $("#txtProjectScheduleId").val();
                var ProjectId = $("#txtProjectId").val();
                var ModulId = $("#txtModulId").val();
                var StartDate = $("#txtStartDate").val();
                var EndDate = $("#txtEndDate").val();

                //if (CheckRequiredFields()) {
                $('#dvLoader').show();
                $.ajax({
                    url: '@Url.Action("SaveProjectTimeline", "PopUp")',
                    type: 'POST',
                    data: JSON.stringify({ "ProjectScheduleId": ProjectScheduleId, "ProjectId": ProjectId, "ModulId": ModulId, "StartDate": StartDate, "EndDate": EndDate, "stUpdate": 1, "idPT": 1 }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        $('#dvLoader').hide();

                        if (result.Status == "True") {
                            toastr.success(result.Message);
                            clear();
                            //display();
                        }
                        else {
                            toastr.success(result.Message);
                            clear();
                            //display();

                        }
                    }
                });

                //}

            });

            $("#btnCancel").click(function () {
                clear();
            });

        });



        function CheckRequiredFields() {
            var isValid = true;
            $('.required').each(function () {
                if ($.trim($(this).val()) == '') {
                    isValid = false;
                    $(this).addClass('red_border');


                }
                else {
                    $(this).removeClass('red_border');

                }
            });
            return isValid;
        }

        function checkemail(valemail) {
            var forgetfilter = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            if (forgetfilter.test(valemail)) {
                return true;
            }
            else {
                return false;
            }
        }
        function clear() {
            $("#txtVersion").val("");
            $("#txtStartDate").val("");
            $("#txtEndDate").val("");
        }

        function isNumberKey(evt) {
            var charcode = (evt.which) ? evt.which : evt.keycode
            if (charcode > 31 && (charcode < 48 || charcode > 58)
                && evt.keyCode != 35 && evt.keyCode != 36 && evt.keyCode != 37
                && evt.keyCode != 38 && evt.keyCode != 39 && evt.keyCode != 40
                && evt.keyCode != 46) {
                return false;
            }
            else {
                return true;
            }
        }

        //------------------------------------Tampil Project Schedule di Textbox--------------------------------------//

        function loadDataCRD(docId) {
            //alert("keluar, pak eko");
            var id = 8;
            $.ajax({
                url: "/ProjectSchedule/GetDataCRDById?id=" + id,
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    document.getElementById('txtStartDate').value = "1997/03/03";
                    document.getElementById('txtEndDate').value = result.EndDate;
                }
            });
            document.getElementById('txtStartDate').value = "11/03/2008";
        }

        var TeamDetailPostBackURL = '/PopUp/GetProjectByScheduleProject';
        $(function () {
            $(".anchorDetail").click(function () {
                debugger;
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    //url: TeamDetailPostBackURL,
                    //INI MEMANGGIL METHOD DI CONTROLLER
                    url: "/PopUp/GetProjectByScheduleProject",
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        debugger;
                        $('#myModalContent').html(data);
                        $('#modalForm').modal(options);
                        $('#modalForm').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });

            $("#closbtn").click(function () {
                $('#modalForm').modal('hide');
            });
        });
    </script>



</head>


<script type="text/javascript">
    $(document).ready(function(){
        var ProjectScheduleId=@ViewBag.ProjectScheduleId;
        LoadData(ProjectScheduleId);

        loadDataProjectTimeline(ProjectScheduleId);
    });
    function LoadData(ProjectScheduleId){
        $.ajax({
            url : "/ProjectSchedule/LoadData?ProjectScheduleId="+ProjectScheduleId,
            type : "GET",
            contentType : "application/json;charset=utf-8",
            dataType : "json",
            success : function (result){
                $('#ProjectScheduleId').val(result.ProjectScheduleId);
                $('#ProjectId').val(result.ProjectId);
                $('#ProjectName').val(result.ProjectName);
                $('#Version').val(result.Version)
                $('#StartDate').val(result.StartDate);
                $('#EndDate').val(result.EndDate);
            }
        });
    }
    function SaveData() {
        var valueEdited = {
            ProjectScheduleId:  $('#ProjectScheduleId').val(),
            ProjectId:$('#ProjectId').val(),
            Version:$('#Version').val(),
            StartDate: $('#StartDate').val(),
            EndDate: $('#EndDate').val()
        };
        $.ajax({
            url: "/ProjectSchedule/SaveData",
            data: JSON.stringify(valueEdited),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success:window.location.href='/Project/Edit',
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
    function loadDataProjectTimeline(ProjectScheduleId,page) {

        if (page == null) {
            page = 1;
        }
        //alert(page);
        $.ajax({
            url: "/ProjectSchedule/ListDataProjectTimeline?ProjectScheduleId=" + ProjectScheduleId+"&page="+page ,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';
                var btn = '';
                var c = 0;
                var ctr = 0;
                $.each(result, function (key, item) {
                    html += '<tr>';
                    html += '<td>' + item.ProjectName + '</td>';
                    html += '<td>' + item.ModulNumber + '</td>';
                    html += '<td>' + item.ModulName + '</td>';
                    html += '<td>' + item.Version + '</td>';
                    html += '<td>Start Date : '+item.StartDateStr+'<br>'+
                        'End Date : '+item.EndDateStr+'<br>'+
                        ' </td>';
                    html += '<td><button onclick="loadDataCRD('+item.TimeLineId+')" class="btn btn-warning" data-toggle="modal" data-target="#modalProjectTimelineUpdate" id="IdEdit" value="' + item.TimeLineId + '" >Edit</button></td>';
                    
                    html += '</tr>';
                    c = item.Lenght;
                    ctr++;
                });
                $('.tbodyprotime').html(html);
                t = 1;
                for (var i = 0; i < c; i += 5) {
                    btn += '<button onclick="return loadDataProjectTimeline('+ProjectScheduleId+','+ t + ')" class="btn btn-info" >' + t + '</button>';
                    t++;
                }
                $('#buttonPage').html(btn);
                $('#pagePosition').html('Anda berada di halaman : ' + page + ' dari ' + (t - 1));
                $('#jumlahData').html('Jumlah Data : ' + ctr + ' dari ' + c);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
</script>

<div class="form-horizontal">
    <h4>Project Schedule Information</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <input id="ProjectScheduleId" type="hidden" />
    <input id="ProjectId" type="hidden" />
    <table width="100%">
        <tr>
            <td valign="top">
                <table>
                    <tr>
                        <td>
                            @Html.Label("Project Name", htmlAttributes: new { @class = "control-label col-md-4" })
                        </td>
                        <td>:</td>
                        <td>
                            @Html.Editor("ProjectName", new { htmlAttributes = new { @class = "form-control", id = "ProjectName" , @disabled = "disabled"} })
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.Label("Version", htmlAttributes: new { @class = "control-label col-md-4" })</td>
                        <td>:</td>
                        <td>
                            @Html.Editor("Version", new { htmlAttributes = new { @class = "form-control", id = "Version", @disabled = "disabled" } })
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.Label("Start Date", htmlAttributes: new { @class = "control-label col-md-4" })</td>
                        <td>:</td>
                        <td>
                            @Html.Editor("StartDate", new { htmlAttributes = new { @class = "form-control", id = "StartDate"} })
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.Label("End Date", htmlAttributes: new { @class = "control-label col-md-4" })</td>
                        <td>:</td>
                        <td>
                            @Html.Editor("EndDate", new { htmlAttributes = new { @class = "form-control", id = "EndDate"} })
                        </td>
                    </tr>
                 </table>
            </td>
            </tr>
        <tr>
            <td colspan="2" align="right">
                <input type="submit" value="Save" onclick="SaveData()" class="btn btn-info" />
            </td>
        </tr>
    </table>
</div>

<br />
<table class="table table-striped table-bordered table-sm">
    <h4>Project Time Line</h4>
    <thead>
        <tr>
            <th colspan="8" align="right">
                <button class="btn btn-success btn-lg" data-toggle="modal" data-target="#modalProjectTimeline">
                    Add
                </button>
            </th>
        </tr>
        <tr>
            <th>
                Project Name
            </th>
            <th>
                Modul Number
            </th>
            <th>
                Modul Name
            </th>
            <th>
                Version
            </th>
            <th>
                Schedule Date
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody class="tbodyprotime"></tbody>
</table>
<center>
    <div>
        <label id="pagePosition"></label><br />
        <label id="jumlahData" style="margin: 10px;"></label>
        <div id="buttonPage"></div>
    </div>
</center>
<br />



@*PopUP*@
<div class="modal fade" id="modalProjectTimeline" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Tutup</span>
                </button>
                <h5 class="modal-title" id="labelModalProTime"><b>Input/Edit Project Timeline</b></h5>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <p class="statusMsg"></p>
                <form role="form">
                    <table align="center" class="table">
                        <tr>
                            <td>
                                <div class="form-group">
                                    Project Name
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    
                                    <input type="text" disabled id="ProjectName" class="form-control" value="@ViewBag.ProjectName" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    Modul
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="text" disabled id="ModulName" class="form-control" value="@ViewBag.ModulName" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    Version
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="text" disabled id="ModulVersion" class="form-control" value="@ViewBag.Version" />
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="form-group">
                                    Start Date
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="date" id="txtStartDate" class="form-control" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    End Date
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="date" id="txtEndDate" class="form-control" />
                                </div>
                            </td>
                        </tr>
                    </table>
                    <input id="txtProjectId" type="hidden" value="@ViewBag.ProjectId" />
                    <input id="txtModulId" type="hidden" value="@ViewBag.ModulId" />
                    <input id="txtProjectScheduleId" type="hidden" value="@ViewBag.ProjectScheduleId" />
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <input id="btnSave" class="btn btn-primary submitBtn" type="button" value="Save" />
            </div>
        </div>
    </div>
</div>





@*PopUP 2*@
<div class="modal fade" id="modalProjectTimelineUpdate" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Tutup</span>
                </button>
                <h5 class="modal-title" id="labelModalProTime"><b>Input/Edit Project Timeline</b></h5>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <p class="statusMsg"></p>
                <form role="form">
                    <table align="center" class="table">
                        <tr>
                            <td>
                                <div class="form-group">
                                    Project Name
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">

                                    <input type="text" disabled id="ProjectName" class="form-control" value="@ViewBag.ProjectName" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    Modul
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="text" disabled id="ModulName" class="form-control" value="@ViewBag.ModulName" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    Version
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="text" disabled id="ModulVersion" class="form-control" value="@ViewBag.Version" />
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="form-group">
                                    Start Date
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="date" id="txtStartDate" class="form-control" value="2018-11-11" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    End Date
                                </div>
                            </td>
                            <td>:</td>
                            <td>
                                <div class="col-md-10">
                                    <input type="date" id="txtEndDate" class="form-control" value="2018-12-11"/>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <input id="txtProjectId" type="hidden" value="@ViewBag.ProjectId" />
                    <input id="txtModulId" type="hidden" value="@ViewBag.ModulId" />
                    <input id="txtProjectScheduleId" type="hidden" value="@ViewBag.ProjectScheduleId" />
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <input id="btnSave" class="btn btn-primary submitBtn" type="button" value="Save" />
            </div>
        </div>
    </div>
</div>